<h1 mat-dialog-title>Edit Medical Action details</h1>
<div mat-dialog-content>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Treatment target</mat-label>
                <mat-select (selectionChange)="onDiseaseChange($event)">
                    <mat-option *ngFor="let disease of diseases" [value]="disease">
                        {{disease.term.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Treatment intent</mat-label>
                <mat-select (selectionChange)="onIntentChange($event)">
                    <mat-option *ngFor="let intent of intents" [value]="intent">
                        {{intent.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Response to treatment</mat-label>
                <mat-select (selectionChange)="onResponseChange($event)">
                    <mat-option *ngFor="let response of responses" [value]="response">
                        {{response.label}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="col-md-3">
            <mat-form-field class="example-form-field" appearance="outline">
                <mat-label>Treatment termination reason</mat-label>
                <input matInput type="text" [(ngModel)]="terminationReasonStr">
                <button *ngIf="terminationReasonStr" matSuffix mat-icon-button aria-label="Clear"
                    (click)="terminationReasonStr=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <mat-form-field appearance="outline">
                <mat-label>Select an action type</mat-label>
                <mat-select (selectionChange)="onActionTypeChange($event)" [(value)]="actionType">
                    <mat-option *ngFor="let type of actionTypes" [value]="type">
                        {{type}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-3">

        </div>

    </div>
    <!-- Procedure medical action -->
    <div *ngIf="actionType === 'Procedure'" class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <app-ontology-class [title]="'Code'" [ontologyObject]="procedureCode"
                                (ontologyObjectEvent)="changeProcedureCode($event)"></app-ontology-class>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Body sites:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-search-box [showHint]="false" [itemName]="'Body sites'" [searchLabel]="'Body sites'"
                                [placeHolderTxt]="'Select/add body site'" [localStorageKey]="bodySitesStorageKey"
                                [searchService]="searchService" (selectedSearchItem)="onSearchBodySiteChange($event)"
                                [resetSearch]="false"></app-search-box>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <mat-list *ngFor="let bodySite of bodySites">
                                <div class="row">
                                    <div class="col-md-12">
                                        <li> {{bodySite?.label + ' [' + bodySite?.id + ']'}}
                                            <button (click)="$event.stopPropagation()" mat-icon-button type="submit"
                                                class="pull-right" matTooltip="Delete body site"
                                                (click)="removeBodySite(bodySite)">
                                                <mat-icon matSuffix>clear</mat-icon>
                                            </button>
                                        </li>
                                    </div>

                                </div>
                            </mat-list>
                        </div>
                    </div>

                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Performed on:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" *ngFor="let perform of performedOn;">
                            {{perform?.toString()}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Treatement medical action -->
    <div *ngIf="actionType === 'Treatment'" class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <app-ontology-class [title]="'Agent'" [ontologyObject]="agent"
                                (ontologyObjectEvent)="changeAgent($event)"></app-ontology-class>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <app-ontology-class [title]="'Route of administration'"
                                [ontologyObject]="routeOfAdministration"
                                (ontologyObjectEvent)="changeRouteOfAdministration($event)"></app-ontology-class>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <b>Drug type</b>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    {{drugType}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Dose intervals</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <button mat-raised-button (click)="addRow()" class="add-button mat-elevation-z2">
                                        Add dose interval
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <table mat-table class="table-hover mat-elevation-z2"
                                        [dataSource]="doseIntervalDatasource">
                                        <ng-container [matColumnDef]="col.key"
                                            *ngFor="let col of doseIntervalColumnsSchema">
                                            <th mat-header-cell *matHeaderCellDef>
                                                {{ col.label }}
                                            </th>
                                            <td mat-cell *matCellDef="let element">
                                                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                                                    <div class="pull-right" *ngSwitchCase="'isEdit'">
                                                        <button mat-button (click)="element.isEdit = !element.isEdit">
                                                            <mat-icon>edit</mat-icon>
                                                        </button>
                                                        <button mat-button class="pull-right"
                                                            (click)="removeRow(element.id)">
                                                            <mat-icon>close</mat-icon>
                                                        </button>
                                                    </div>
                                                    <!-- <span *ngSwitchCase="'date'">
                                                        {{ element[col.key] | date: 'mediumDate' }}
                                                    </span> -->
                                                    <span *ngSwitchDefault>
                                                        {{ element[col.key] }}
                                                    </span>
                                                </div>
                                                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                                                    <div class="btn-edit" *ngSwitchCase="'isEdit'">
                                                        <button mat-button (click)="editRow(element)"
                                                            [disabled]="disableSubmit(element.id)">
                                                            Done
                                                        </button>
                                                    </div>
                                                    <!-- <mat-form-field class="form-input" *ngSwitchCase="'date'"
                                                        appearance="fill">
                                                        <mat-label>Choose a date</mat-label>
                                                        <input matInput [matDatepicker]="picker"
                                                            [(ngModel)]="element[col.key]" />
                                                        <mat-datepicker-toggle matSuffix [for]="picker">
                                                        </mat-datepicker-toggle>
                                                        <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field> -->
                                                    <mat-form-field class="form-input" appearance="outline" *ngSwitchDefault>
                                                        <input matInput [required]="col.required"
                                                            [pattern]="col.pattern" [type]="col.type"
                                                            [(ngModel)]="element[col.key]"
                                                            (change)="inputHandler($event, element.id, col.key)" />
                                                    </mat-form-field>
                                                </div>
                                            </td>
                                        </ng-container>
                                        <tr mat-header-row *matHeaderRowDef="doseIntervalDisplayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: doseIntervalDisplayedColumns">
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Cumulative dose</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            {{cumulativeDose?.value + " " + cumulativeDose?.unit.label + " [" +
                            cumulativeDose?.unit.id
                            + "]"}}
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <!-- RadiationTherapy medical action -->
    <div *ngIf="actionType === 'Radiation therapy'" class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <app-ontology-class [title]="'Modality'" [ontologyObject]="modality"
                        (ontologyObjectEvent)="changeModality($event)"></app-ontology-class>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <app-ontology-class [title]="'Body site'" [ontologyObject]="bodySite"
                        (ontologyObjectEvent)="changeBodySite($event)"></app-ontology-class>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <b>Dosage</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input type="number" class="form-control" matInput name="dosage" placeholder="Dosage in Gy"
                            (change)="changeDosage($event)" appearance="outline">
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12">
                    <b>Fractions</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <input type="number" class="form-control" matInput name="fractions" placeholder="Fractions"
                            (change)="changeFractions($event)" appearance="outline">
                    </mat-form-field>
                </div>
            </div>
        </div>
    </div>

    <!-- TherapeuticRegimen medical action -->
    <div *ngIf="actionType === 'Therapeutic regimen'" class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <app-ontology-class [title]="'Identifier'" [ontologyObject]="identifier"
                        (ontologyObjectEvent)="changeIdentifier($event)"></app-ontology-class>

                </div>
                <div class="col-md-4"></div>
                <div class="col-md-4"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Start time</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-age-control></app-age-control>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <b>End time</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-age-control></app-age-control>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Status</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <mat-form-field style="width: 25%" appearance="outline">
                                <mat-label>Regimen status</mat-label>
                                <mat-select (selectionChange)="onRegimenStatusChange($event)" name="regimenStatus">
                                    <mat-option *ngFor="let status of regimenStatuses" [value]="status">
                                        {{status}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<div mat-dialog-actions>
    <button mat-raised-button (click)="onCancelClick()" cdkFocusInitial>Cancel</button>
    <button mat-raised-button [mat-dialog-close]="onOkClick()">Ok</button>
    <!-- <button mat-button cdkFocusInitial (click)="onOkClick()">Ok</button> -->
</div>