<div class="grid p-fluid">
  <div class="field col-12 md:col-6">
    <h2>
      <b>{{ diseaseDetailName }} </b>
    </h2>
  </div>
  <div class="field col-12 md:col-6">
    <h3>{{ diseaseId }}</h3>
  </div>

  <div *ngIf="description" class="field col-12">
    <p>
      {{ description }}
    </p>
  </div>
  <div class="field col-12">
    <div class="field-radiobutton">
      <p-radioButton id="observed"
        name="observed"
        value="false"
        [(ngModel)]="selectedStatus"
        inputId="observed"
      ></p-radioButton>
      <label for="observed">Observed</label>
    </div>
    <div class="field-radiobutton">
      <p-radioButton id="excluded"
        name="excluded"
        value="true"
        [(ngModel)]="selectedStatus"
        inputId="exluded"
      ></p-radioButton>
      <label for="excluded">Excluded</label>
    </div>
  </div>

  <div class="field col-12">
    <label for="onset"><b>Onset:</b></label>
    <app-time-element id="onset"></app-time-element>
  </div>
  <br />
  <div class="field col-12">
    <label for="resolution"><b>Resolution:</b></label>
    <app-time-element
      id="resolution"
      aria-labelledby="resolution-time-label"
    ></app-time-element>
  </div>

  <div class="field col-12 md:col-6">
    <label for="stages"><b>Disease stage:</b></label>
    <p-dropdown
      appendTo="body"
      id="stages"
      [options]="getStages()"
      [(ngModel)]="stage"
      optionLabel="label"
      [filter]="true"
      filterBy="label"
      [showClear]="true"
      placeholder="Select disease stage"
    >
    </p-dropdown>
  </div>
  <div class="field col-12 md:col-6">
    <label for="findings"><b>Clinical TNM finding:</b></label>
    <p-dropdown
      appendTo="body"
      id="findings"
      [options]="getClinicalFindings()"
      [(ngModel)]="finding"
      optionLabel="label"
      [filter]="true"
      filterBy="label"
      [showClear]="true"
      placeholder="Select clinical findings"
    >
    </p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <label for="severity"><b>Severity:</b></label>
    <p-dropdown
      appendTo="body"
      id="severity"
      [options]="getSeverities()"
      [(ngModel)]="severity"
      optionLabel="label"
      [filter]="true"
      filterBy="label"
      [showClear]="true"
      placeholder="Select severity"
    >
    </p-dropdown>
  </div>

  <div class="field col-12 md:col-6">
    <label for="laterality"><b>Laterality:</b></label>
    <p-dropdown
            id="laterality"
      appendTo="body"
      [options]="getLateralities()"
      [(ngModel)]="laterality"
      optionLabel="label"
      [filter]="true"
      filterBy="label"
      [showClear]="true"
      placeholder="Select a laterality"
    >
    </p-dropdown>
  </div>
</div>
<div class="p-dialog-footer">
  <button
    pButton
    pRipple
    type="button"
    label="Cancel"
    (click)="onCancelClick()"
  ></button>
  <button
    pButton
    pRipple
    type="button"
    label="Ok"
    (click)="onOkClick()"
  ></button>
</div>
