.margin {
  margin: 10px;
}
.half-width {
  width: 50%;
}

/* .example-form {
   min-width: 150px;
   max-width: 500px;
   width: 100%;
 } */

.example-full-width {
  width: 100%;
}

.example-container {
  height: 800px;
  overflow: auto;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-row td {
  border-bottom-width: 0;
}

tr.example-detail-row {
  height: 0;
}

::ng-deep .mat-tooltip {
  /* your own custom styles here */
  /* e.g. */

  background: #616161e6;
  font-size: small;
  color: white !important;
}

