<div class="header">
    <div class="title">
        <a [routerLink]="['/']">
            <img class="jax-logo" src="./assets/img/PhenoPackets_Logo.png" alt="phenopackets"/>
        </a>
        <a [routerLink]="['/']">
            <div class="text">Phenopacket Lab</div>
        </a>
        <a [routerLink]="['/']">
            <div class="smalltext"> v{{version}}</div>
        </a>
    </div>
    <div class="actions">
        <a class="action" [routerLink]="['about']">
            About
        </a>
        <a class="action" [routerLink]="['help']">
            Help
        </a>
    </div>
</div>
