<footer class="footer ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a [routerLink]="['/about', {selectedTab:0} ]">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="https://www.jax.org/" rel="noopener noreferrer" target="_blank">
                                The Jackson Laboratory
                            </a>
                        </li>
                        <li>
                            <a [routerLink]="['/about', {selectedTab:4} ]">
                                License
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p> ©2022 THE JACKSON LABORATORY <br>
                        Website content is for educational and research purposes only and is not intended to be used for
                        medical advice, diagnosis or treatment.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
