<div class="row">
  <div class="col-md-6" style="clear: both">
    <h2>
      <b>{{ diseaseDetailName }} </b>
    </h2>
    <h3>{{ diseaseId }}</h3>
  </div>
  <div class="col-md-6">
    <button
      (click)="openEditDialog()"
      mat-icon-button
      type="submit"
      class="pull-right"
      matTooltip="Edit"
      [matTooltipShowDelay]="2000"
    >
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
<div class="row">
  <p>
    {{ description }}
  </p>
</div>
<div class="row">
  <div class="col-md-6"><b>Type:</b> {{ isA }}</div>
  <div class="col-md-6"><b>Status:</b> {{ status }}</div>
</div>

<div class="row">
  <div class="col-md-6"><b>Onset:</b> {{ onset }}</div>
  <div class="col-md-6"><b>Resolution:</b> {{ resolution }}</div>
</div>

<div class="row">
  <div class="col-md-6"><b>Disease stage:</b> {{ stage }}</div>
  <div class="col-md-6"><b>Clinical TNM finding:</b> {{ finding }}</div>
</div>
<div class="row">
  <div class="col-md-6"><b>Severity: </b> {{ severity }}</div>
  <div class="col-md-6"><b>Laterality:</b> {{ laterality }}</div>
</div>
