<p-toast position="center" key="cen"></p-toast>
<div class="grid p-fluid">
  <div class="field col-12">
    <as-split direction="horizontal">
      <as-split-area [size]="50">
        <p-toast></p-toast>
        <p-card
          header="Diseases search"
          subheader="Search for a disease using the search field below."
        >
          <app-search-box
            [showHint]="false"
            [itemName]="'Disease'"
            [searchLabel]="'Disease'"
            [placeHolderTxt]="'Enter a disease name'"
            [localStorageKey]="'diseases'"
            [searchService]="searchService"
            (selectedSearchItem)="onSearchCriteriaChange($event)"
            [resetSearch]="false"
          ></app-search-box>
  
          <p-table
            *ngIf="visible"
            [value]="diseases"
            [(selection)]="selectedDisease"
            styleClass="p-datatable-gridlines"
            scrollDirection="horizontal"
            responsiveLayout="scroll"
            [resizableColumns]="true"
            [tableStyle]="{ width: 'max-content'}"
            dataKey="key"
            selectionMode="single"
            (onRowSelect)="onRowSelect($event)"
          >
            <ng-template pTemplate="caption">
              <div class="table-header">Added diseases</div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th pResizableColumn>Label</th>
                <th pResizableColumn>Status</th>
                <th pResizableColumn>Onset</th>
                <th pResizableColumn></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-disease>
              <tr [pSelectableRow]="disease">
                <td>{{ disease.term?.label }}</td>
                <td>{{ disease.excluded ? "Excluded" : "Observed" }}</td>
                <td>{{ disease.onset?.toString() }}</td>
                <td>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteDisease(disease)"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-card>
      </as-split-area>
      <as-split-area [size]="50">
        <p-card
          header="Disease details"
          subheader="Select the disease on the left-side table and then edit its details."
        >
          <app-disease-edit
            [disease]="selectedDisease"
            [profile]="profileSelection"
            (diseaseChange)="updateDisease($event)"
          ></app-disease-edit>
        </p-card>
      </as-split-area>
    </as-split>
  </div>
  <div class="field col-12">
    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center margin-left">
        <p-button
          label="Back"
          (onClick)="prevPage()"
          icon="pi pi-angle-left"
          iconPos="left"
        ></p-button>
      </div>
      <div class="flex align-items-center justify-content-center margin-right">
        <p-button
          label="Next"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
