<div class="row">
  <div class="col-md-12">
    <mat-stepper linear #stepper
      >>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Set Individual</ng-template>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Phenopacket ID</mat-label>
                <input
                  matInput
                  placeholder="Phenopacket ID"
                  formControlName="phenopacketIdCtrl"
                  required
                />
              </mat-form-field>
            </div>
            <div class="col-md-8">
              <mat-form-field appearance="outline">
                <mat-label>Summary</mat-label>
                <textarea
                  matInput
                  placeholder="Description summary of the phenopacket..."
                  formControlName="summaryCtrl"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" />
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker
                  formControlName="dobCtrl"
                  #picker
                ></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline">
                <mat-label>Time of last encounter</mat-label>
                <input matInput placeholder="P14Y" formControlName="toleCtrl" />
              </mat-form-field>
            </div>
            <div class="col-md-4"></div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <mat-form-field
                appearance="outline"
                matTooltip="Observed apparent sex of the individual"
                [matTooltipShowDelay]="2000"
              >
                <mat-select formControlName="sexCtrl">
                  <mat-option *ngFor="let sex of getSexes()" [value]="sex">
                    {{ sex }}
                  </mat-option>
                </mat-select>
                <mat-label>
                  <b>Sex</b>
                </mat-label>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field
                appearance="outline"
                matTooltip="The karyotypic sex of the individual"
                [matTooltipShowDelay]="2000"
              >
                <mat-select formControlName="karyoSexCtrl">
                  <mat-option
                    *ngFor="let karyotypicSex of getKaryotypicSexes()"
                    [value]="karyotypicSex"
                  >
                    {{ karyotypicSex }}
                  </mat-option>
                </mat-select>
                <mat-label>
                  <b>Karyotypic sex</b>
                </mat-label>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field
                appearance="outline"
                matTooltip="Self-identified gender"
                [matTooltipShowDelay]="2000"
              >
                <mat-select formControlName="genderCtrl">
                  <mat-option value="unknown">Unknown</mat-option>
                  <mat-option value="female">Female</mat-option>
                  <mat-option value="male">Male</mat-option>
                  <mat-option value="nonbinary">Nonbinary</mat-option>
                  <mat-option value="other">Other</mat-option>
                </mat-select>
                <mat-label>
                  <b>Gender</b>
                </mat-label>
              </mat-form-field>
            </div>
          </div>
          <div class="row" formGroupName="vitalStatusFormGroup">
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field
                    appearance="outline"
                    matTooltip="Status of the individual"
                    [matTooltipShowDelay]="2000"
                  >
                    <mat-select formControlName="statusCtrl">
                      <mat-option
                        *ngFor="let status of getStatuses()"
                        [value]="status"
                      >
                        {{ status }}
                      </mat-option>
                    </mat-select>
                    <mat-label>
                      <b>Status</b>
                    </mat-label>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Time of death:</mat-label>
                    <input
                      matInput
                      placeholder="2015-10-01T10:54:20.021Z"
                      formControlName="timeOfDeathCtrl"
                      required
                    />
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <app-ontology-class
                      [title]="'Cause of death'"
                      [ontologyObject]="getCauseOfDeath()"
                      (ontologyObjectEvent)="changeCauseOfDeath($event)"
                    >
                    </app-ontology-class>
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field appearance="outline">
                    <mat-label>Survival time:</mat-label>
                    <input
                      matInput
                      placeholder="Days"
                      formControlName="survivalTimeCtrl"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>

          <div>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Add Phenotypic Feature(s)</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Address</mat-label>
            <input
              matInput
              formControlName="secondCtrl"
              placeholder="Ex. 1 Main St, New York, NY"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel>Add Measurement(s)</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fourthFormGroup">
        <form [formGroup]="fourthFormGroup">
          <ng-template matStepLabel>Add Biosample(s)</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="fifthFormGroup">
        <form [formGroup]="fifthFormGroup">
          <ng-template matStepLabel>Add Interpretation(s)</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="sixthFormGroup">
        <form [formGroup]="sixthFormGroup">
          <ng-template matStepLabel>Add Disease(s)</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="seventhFormGroup">
        <form [formGroup]="seventhFormGroup">
          <ng-template matStepLabel>Add Medical Action(s)</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="eigthFormGroup">
        <form [formGroup]="eigthFormGroup">
          <ng-template matStepLabel>Add File(s)</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              placeholder="Last name, First name"
              formControlName="firstCtrl"
              required
            />
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Back</button>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>You are now done.</p>
        <div>
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>
