<p-card>
    <ng-template pTemplate="title"> Validate phenopacket </ng-template>
    <ng-template pTemplate="subtitle">
      Before adding the phenopacket to the corresponding family or cohort, the phanopacket is going to be validated 
    </ng-template>
    <ng-template pTemplate="content">
      <div class="grid p-fluid">
        <div class="field col-12">
<!--            <label for="phenoEditor">Phenopacket to be validated</label>-->
<!--            <textarea pInputTextarea [(ngModel)]="phenopacketString"></textarea>-->

            <!-- <p-editor id="phenoEditor" [(ngModel)]="phenopacketString" [style]="{'height':'320px'}"></p-editor> -->

        </div>
        
      </div>
      <div class="flex justify-content-start flex-wrap">
        <p-button
          (onClick)="validate()"
          label="Validate"
          styleClass="p-button"
        ></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center justify-content-center">
          <p-button
          label="Back"
          (onClick)="prevPage()"
          icon="pi pi-angle-left"
          iconPos="left"
        ></p-button>
        </div>
        <div class="flex align-items-center justify-content-center">
          <p-button
          label="Complete"
          [disabled]="disabled"
          (onClick)="complete()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
        </div>
        
        
      </div>
    </ng-template>
  </p-card>
  