.add-tab-button,
.delete-tab-button {
  margin: 8px;
}
.delete-tab-button:hover {
  color: darkgrey;
}
.mat-row .mat-cell {
  // border-bottom: 1px solid grey;
  // border-top: 1px solid grey;
  // border-right: 1px solid grey;
  cursor: pointer;
}
.mat-row {
  height: auto;
}

.mat-cell {
  padding: 10px 8px 8px 0px;
}
// .mat-cell {
//   font-size: 14px;
//   min-height: 48px;
//   text-align: center;
//   border-right: 1px solid black;
// }
.tab-label {
  float: left;
  margin-left: 10px;
}
.close-icon {
  float: right;
  margin-right: 5px;
}