app-header {
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.main {
  display: flex;
  min-height: 100vh;
  padding: 70px 0 0 0;
  background-color: white;

  .sidebar {
    .p-sidebar {
      width: auto !important;
      position: unset !important;
      color: #00796b;
      .p-sidebar-header, .p-sidebar-footer {
        display: none;
      }
      .p-sidebar-content {
        padding: 0;
      }
      .menu-list .p-menu {
        padding: 0;
        border: 0 !important;
        margin: 0;
        width: auto;
        .p-menuitem {
          text-transform: uppercase;
          font-size: .8rem;
        }
        .p-menuitem-link-active {
          background-color: rgb(218 224 223 / 65%) !important;
        }
      }
    }
  }
  .content {
    flex: 6;
    &.full {
      flex: auto;
    }
  }

  .p-menu .p-menuitem-link:not(.p-disabled):not(.p-menuitem-link-active):hover {
    background: none !important;
    opacity: .65;
  }

}