<app-header
  (toggleNav)="sideNavOpen = $event"
  [route]="router.url">
</app-header>
<p-toast baseZIndex="11" position="bottom-right" showTransitionOption="100ms ease-out" hideTransitionOptions="100ms ease-in"></p-toast>
<mat-sidenav-container>
  <mat-sidenav mode="side" [(opened)]="sideNavOpen">
    <app-sidebar [route]="router.url" [open]="sideNavOpen"></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <mat-divider></mat-divider>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
