app-header {
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.main {
  display: flex;
  min-height: 100vh;
  padding: 70px 0 0 0;
  background-color: white;

  .sidebar {
    .p-sidebar {
      width: auto !important;
      position: unset !important;
      .menu-list .p-menu {
        border: 0 !important;
        .p-menuitem {
          text-transform: uppercase;
          font-size: .8rem;
          border-radius: 6px;
        }
        .p-menuitem-link-active {
          background-color: rgba(38, 166, 154, .65) !important;
          border-radius: 6px;
        }
      }
    }
  }
  .content {
    flex: 6;
    &.full {
      flex: auto;
    }
  }

}