<p-card>
  <div class="grid p-fluid">
    <div class="field col-12">
      <b>Phenopacket ID: </b>{{ phenopacket?.id }}
    </div>
    <div class="field col-12">
      <b>Time of last encounter: </b> {{ lastEncounterDate }}
    </div>

    <!-- <div class="field col-12 md:col-6"><b>Date of birth: </b> {{ dob }}</div> -->

    <div class="field col-12 md:col-4"><b>Sex: </b> {{ sex }}</div>

    <div class="field col-12 md:col-4">
      <b>Karyotypic Sex: </b> {{ karyotypicSex }}
    </div>
    <div class="field col-12 md:col-4"><b>Gender: </b> {{ gender }}</div>

    <br />
    <div class="field col-12">
      <p-divider align="left">
        <div class="inline-flex align-items-center">
          <b>Vital status</b>
        </div>
      </p-divider>
    </div>
    <div class="field col-12 md:col-6">
      <b>Status: </b> {{ status }}
      <br />
      <br />
      <b>Time of death: </b> {{ timeOfDeath }}
    </div>
    <div class="field col-12 md:col-6">
      <b>Cause of death: </b> {{ causeOfDeath }}
      <br />
      <br />
      <b>Survival time (days): </b> {{ survivalTime }}
    </div>
  </div>
  <br />
</p-card>
<br />
<br />
<!-- <mat-divider></mat-divider> -->

<div class="row">
  <div class="col-md-12">
    <mat-accordion class="accordion-headers-align">
      <mat-expansion-panel
        [expanded]="step === 0"
        (opened)="setStep(0)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">list</mat-icon>
            Phenotypic Features
          </mat-panel-title>
          <mat-panel-description>
            Describes a phenotype that characterizes the subject of the
            Phenopacket
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-phenotypic-feature
          [phenotypicFeatures]="getPhenotypicFeatures()"
          (onPhenotypicFeaturesChanged)="changePhenotypicFeatures($event)"
        ></app-phenotypic-feature>

        <mat-action-row>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 1"
        (opened)="setStep(1)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">square_foot</mat-icon>
            Measurements
          </mat-panel-title>
          <mat-panel-description>
            Used to record individual measurements, which can capture
            quantitative, ordinal (e.g., absent/present), or categorical
            measurements
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-measurement
          [measurements]="getPhenopacketMeasurements()"
          (onMeasurementsChanged)="changeMeasurements($event)"
        ></app-measurement>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 2"
        (opened)="setStep(2)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">biotech</mat-icon>
            Biosamples
          </mat-panel-title>
          <mat-panel-description>
            Unit of biological material from which the substrate molecules (e.g.
            genomic DNA, RNA, proteins) for molecular analyses (e.g. sequencing,
            array hybridisation, mass-spectrometry) are extracted
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-biosample
          [biosamples]="getBiosamples()"
          (onBiosampleChanged)="changeBiosamples($event)"
        ></app-biosample>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 3"
        (opened)="setStep(3)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">interpreter_mode</mat-icon>
            Interpretations
          </mat-panel-title>
          <mat-panel-description>
            Represents the interpretation of a genomic analysis, such as the
            report from a diagnostic laboratory
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-interpretation
          [interpretations]="getInterpretations()"
        ></app-interpretation>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 4"
        (opened)="setStep(4)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">coronavirus</mat-icon>
            Diseases
          </mat-panel-title>
          <mat-panel-description>
            Diagnosis, i.e., an inference or hypothesis about the cause
            underlying the observed phenotypic abnormalities
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-disease
          [phenopacketDiseases]="getPhenopacketDiseases()"
          (onDiseasesChanged)="changeDiseases($event)"
        ></app-disease>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 5"
        (opened)="setStep(5)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">medical_services</mat-icon>
            Medical Actions
          </mat-panel-title>
          <mat-panel-description>
            Describes medications, procedures, other actions taken for clinical
            management
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-medical-action
          [medicalActions]="getPhenopacketMedicalActions()"
          [diseases]="getPhenopacketDiseases()"
          (onMedicalActionChanged)="changeMedicalActions($event)"
        ></app-medical-action>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 6"
        (opened)="setStep(6)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">text_snippet</mat-icon>
            Files
          </mat-panel-title>
          <mat-panel-description>
            External files linked with the structured phenotypic data, which can
            be used to inform analyses
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-file
          [phenopacketFiles]="getPhenopacketFiles()"
          (onFilesChanged)="changeFiles($event)"
        >
        </app-file>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">Next</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel
        [expanded]="step === 7"
        (opened)="setStep(7)"
        hideToggle
      >
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon class="tab-icon">data_object</mat-icon>
            Metadata
          </mat-panel-title>
          <mat-panel-description>
            Structured definitions of the resources and ontologies used within
            the phenopacket
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-metadata [metadata]="phenopacket?.metadata"></app-metadata>

        <mat-action-row>
          <button mat-button color="warn" (click)="prevStep()">Previous</button>
          <button mat-button color="primary" (click)="nextStep()">End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
