h3 {
  margin-left: 15px;
}
// vital status area
#vital-status {
  border-radius: 4px !important;
  border: 0.5px solid lightgrey;
  padding: 10px;
  margin: 0px;
}
#vital-status:hover {
  border: 2px solid black;
  margin: -1px;
  // padding: 10px;
  // margin: 0px;
}

// Phenopacket menu/link to Phenopacket objects
.column-1 {
  width: 200px;
  float: left;
}
.column-2 {
  float: none;
  overflow: hidden;
  background-color: #fff;
  div {
    padding: 20px;
  }
}
.active {
  border-radius: 4px !important;
  outline: 1px solid #ddd;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #017171; //#2980b9
}
.vertical-menu {
  display: block !important;
  width: 100%;
  text-align: center;
  list-style-type: none;
  padding: 0px;
}

li {
  color: darkgrey; //#212121
  font-style: normal;
  font-weight: normal;
  text-align: left;
  padding: 12px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px;
}
// li {
//   font-size : 2em;
//   margin: 1em 0;
// }

li > *{
  display: inline-block;
  vertical-align: middle;
}

li:after {
  display: none;
}

a {
  padding: 8px;
}
@media (max-width: 550px) {
  .column-1 {
    width: 40% !important;
  }
  .column-2 {
    width: 60% !important;
  }
}
// hover button
.hover-icon:hover {
  color: darkgrey;
}

