<div class="grid p-fluid">
  <div class="field col-12 md:col-6">
    <label for="label">Label</label>
    <input
      ngDefaultControl
      id="label"
      type="text"
      required
      pInputText
      [disabled]="true"
      [(ngModel)]="disease?.term.label"
    />
  </div>
  <div class="field col-12 md:col-6">
    <label for="id">ID</label>
    <input
      ngDefaultControl
      id="id"
      type="text"
      required
      pInputText
      [disabled]="true"
      [(ngModel)]="disease?.term.id"
    />
  </div>
  <div class="fiewl col-12">
    <div class="field-checkbox">
      <p-checkbox
        ngDefaultControl
        id="observed"
        [ngModel]="!disease?.excluded"
        [binary]="true"
        inputId="observed"
        (onChange)="updateExcluded($event)"
      ></p-checkbox>
      <label for="observed">{{
        !disease?.excluded ? "Observed" : "Excluded"
      }}</label>
    </div>
  </div>

  <div class="field col-6">
    <label for="onset"><b>Onset</b></label>
    <app-time-element
      id="onset"
      [timeElementId]="getDiseaseOnsetId()"
      [timeElement]="disease?.onset"
      [ontologyNodes]="onsetsNodes"
      [useOntologyClass]="true"
      (timeElementEvent)="updateOnset($event)"
      aria-labelledby="onset-label"
    ></app-time-element>
  </div>
  <br />
  <div class="field col-6">
    <label for="resolution"><b>Resolution:</b></label>
    <app-time-element
      id="resolution"
      [timeElementId]="getDiseaseResolutionId()"
      [timeElement]="disease?.resolution"
      (timeElementEvent)="updateResolution($event)"
      aria-labelledby="resolution-time-label"
    ></app-time-element>
  </div>
  <div *ngIf="!isRareProfile()" class="field col-12">
    <p-accordion>
      <p-accordionTab header="Edit more details">
        <div class="grid p-fluid">
          <div class="field col-12">
            <label for="stages"><b>Disease stage:</b></label>
            <p-treeSelect
              ngDefaultControl
              id="stages"
              appendTo="body"
              [(ngModel)]="stageSelected"
              [options]="diseaseStagesNodes"
              (onNodeSelect)="updateDiseaseStage($event)"
              [metaKeySelection]="false"
              placeholder="Select Disease Stage"
              [filter]="true"
              [filterInputAutoFocus]="true"
              [showClear]="true"
              (onClear)="updateDiseaseStage($event)"
            >
              <ng-template let-node pTemplate="default">
                <span [pTooltip]="node.key">{{ node.label }}</span>
              </ng-template>
            </p-treeSelect>
          </div>
          <div class="field col-12">
            <label for="laterality"><b>Laterality:</b></label>
            <p-dropdown
              ngDefaultControl
              id="laterality"
              appendTo="body"
              [options]="lateralities"
              [ngModel]="disease?.laterality"
              (onChange)="updateLaterality($event)"
              optionLabel="label"
              [filter]="true"
              filterBy="label"
              [showClear]="true"
              placeholder="Select a laterality"
            >
            </p-dropdown>
          </div>

          <div class="field col-12">
            <label for="findings"><b>Clinical TNM finding:</b></label>
            <p-treeSelect
              ngDefaultControl
              id="findings"
              appendTo="body"
              [(ngModel)]="tumorSelected"
              [options]="tumorNodes"
              (onNodeSelect)="updateTnmStages($event, 'tumor')"
              [metaKeySelection]="false"
              placeholder="Select tumor stage"
              [filter]="true"
              [filterInputAutoFocus]="true"
              [showClear]="true"
              (onClear)="updateTnmStages($event, 'tumor')"
            >
              <ng-template let-node pTemplate="default">
                <span [pTooltip]="node.key">{{ node.label }}</span>
              </ng-template>
            </p-treeSelect>
            <p-treeSelect
              ngDefaultControl
              id="findings"
              appendTo="body"
              [(ngModel)]="nodeSelected"
              [options]="nodeNodes"
              (onNodeSelect)="updateTnmStages($event, 'node')"
              [metaKeySelection]="false"
              placeholder="Select node stage"
              [filter]="true"
              [filterInputAutoFocus]="true"
              [showClear]="true"
              (onClear)="updateTnmStages($event, 'node')"
            >
              <ng-template let-node pTemplate="default">
                <span [pTooltip]="node.key">{{ node.label }}</span>
              </ng-template>
            </p-treeSelect>
            <p-treeSelect
              ngDefaultControl
              id="findings"
              appendTo="body"
              [(ngModel)]="metastasisSelected"
              [options]="metastasisNodes"
              (onNodeSelect)="updateTnmStages($event, 'metastasis')"
              [metaKeySelection]="false"
              placeholder="Select metastasis stage"
              [filter]="true"
              [filterInputAutoFocus]="true"
              [showClear]="true"
              (onClear)="updateTnmStages($event, 'metastasis')"
            >
              <ng-template let-node pTemplate="default">
                <span [pTooltip]="node.key">{{ node.label }}</span>
              </ng-template>
            </p-treeSelect>
          </div>
        </div>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
