<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <h5>Age Control UI</h5>
        </div>
        <div class="row">
          <table class="example-full-width" cellspacing="0">
            <tr>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Years</mat-label>
                  <input matInput type="number" placeholder="Ex. 1" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Months</mat-label>
                  <input matInput type="number" placeholder="Ex. 1" min="0">
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Days</mat-label>
                  <input matInput type="number" placeholder="Ex. 1" min="0">
                </mat-form-field>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>