<div mat-dialog-title>Upload Phenopacket file</div>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-12">
      <h3>
        Select a Phenopacket file in JSON/yaml format:
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p>Accepted file extension is currently <b>JSON</b>. <b>Yaml</b> will be supported but is not yet implemented. Maximum file size is 10MB.
        <br>
        More information on the Phenopacket schema can be found <a
          href="{{phenopacketSchemaUrl}}">here</a>.
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="showProgress">
      <div class="progress">
        <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="60" aria-valuemin="0"
          aria-valuemax="100" [style.width]="percentCompleted + '%'">
          {{percentCompleted}} %
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" *ngIf="!uploadSuccessful">
      <div class="upload-error">
        {{errorMessage}}
      </div>
    </div>
    <div class="col-md-12" *ngIf="uploadSuccessful">
      <div class="upload-success">
        {{messageSuccess}}
      </div>
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <input hidden type="file" #uploader multiple (change)="uploadFile($event)" />
  <button mat-button [disabled]="uploading || uploadSuccessful" mat-raised-button (click)="uploader.click()">Select
    File</button>

  <button mat-button mat-dialog-close (click)="cancelUpload()">Close</button>
</div>