<p-card header="Profile selection">
  <div class="grid p-fluid">
    <div class="field col-12">Select a profile to create a phenopacket.</div>
  </div>
  <div class="grid p-fluid">
    <div class="field col-12">
      <p-selectButton
        ngDefaultControl
        [options]="options"
        [(ngModel)]="profileSelected"
        optionLabel="label"
        optionValue="value"
      >
      </p-selectButton>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <div class="grid grid-nogutter justify-content-center">
      <p-button
        label="Start"
        (onClick)="start()"
        icon="pi pi-angle-right"
        iconPos="right"
      ></p-button>
    </div>
  </ng-template>
</p-card>
