<p-panel>
  <ng-template pTemplate="header">
    <span class="font-medium text-xl">{{ interpretationId }}</span>
  </ng-template>
  <div class="grid">
    <div class="field col-12"></div>
    <div class="field col-6">
      <b>Interpretation ID:</b> {{ interpretationId }}
    </div>
    <div class="field col-6"><b>Progress status:</b> {{ status }}</div>

    <div class="field col-6"><b>Disease diagnosis:</b> {{ disease }}</div>
    <div class="field col-6"></div>
    <div class="field col-12">
      <p-table
        [value]="interpretation?.diagnosis?.genomicInterpretations"
        dataKey="key"
        [tableStyle]="{ 'min-width': '60rem' }"
      >
        <ng-template pTemplate="caption">
          <div class="table-header">Genomic Interpretation(s)</div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th style="width: 5rem"></th>
            <th pResizableColumn style="min-width: 2rem">Subject ID</th>
            <th pResizableColumn>Status</th>
            <th pResizableColumn>Call</th>
          </tr>
        </ng-template>
        <ng-template
          pTemplate="body"
          let-genomicinterpretation
          let-expanded="expanded"
        >
          <tr>
            <td>
              <button
                type="button"
                pButton
                pRipple
                [pRowToggler]="genomicinterpretation"
                class="p-button-text p-button-rounded p-button-plain"
                [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
              ></button>
            </td>
            <td>{{ genomicinterpretation.subjectOrBiosampleId }}</td>
            <td>{{ genomicinterpretation.interpretationStatus }}</td>
            <td>{{ getCall(genomicinterpretation) }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-genomicinterpretation>
          <tr>
            <td colspan="4">
              <div class="p-3">
                <div class="grid">
                  <div class="field col:6">
                    <b>Subject or biosample ID:</b>
                    {{ genomicinterpretation.subjectOrBiosampleID }}
                  </div>
                  <div class="field col:6">
                    <b>Interpretation Status:</b>
                    {{ genomicinterpretation.interpretationStatus }}
                  </div>
                  <div
                    *ngIf="genomicinterpretation.geneDescriptor"
                    class="field col:12"
                  >
                    <!-- TODO -->
                  </div>
                  <div
                    *ngIf="genomicinterpretation.variantInterpretation"
                    class="field col:12"
                  >
                    <div class="grid">
                      <div class="field col-6">
                        <b>Acmg pathogenicity classification:</b>
                        {{
                          genomicinterpretation.variantInterpretation
                            .acmgPathogenicityClassification
                        }}
                      </div>
                      <div class="field col-6">
                        <b>Therapeutic Actionability:</b>
                        {{
                          genomicinterpretation.variantInterpretation
                            .therapeuticActionability
                        }}
                      </div>
                      <div class="field col-6">
                        <b>Variation descriptor id:</b>
                        {{
                          genomicinterpretation.variantInterpretation
                            .variationDescriptor?.id
                        }}
                      </div>
                      <div class="field col-6">
                        <b>Variation descriptor label:</b>
                        {{
                          genomicinterpretation.variantInterpretation
                            .variationDescriptor?.label
                        }}
                      </div>
                      <div class="field col-12">
                        <b>Variation descriptor description:</b>
                        {{
                          genomicinterpretation.variantInterpretation
                            .variationDescriptor?.description
                        }}
                      </div>
                      <div class="field col-12">
                        <p-table
                          [value]="
                            genomicinterpretation.variantInterpretation
                              .variationDescriptor?.expressions
                          "
                          dataKey="key"
                          [tableStyle]="{ 'min-width': '50rem' }"
                        >
                          <ng-template pTemplate="caption">
                            <div class="table-header">Expressions</div>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th
                                pTooltip="A name for the expression syntax. REQUIRED."
                                style="width: 20%"
                              >
                                Syntax
                              </th>
                              <th
                                pTooltip="The concept expression as a string. REQUIRED."
                                style="width: 40%"
                              >
                                Value
                              </th>
                              <th
                                pTooltip="An optional version of the expression syntax."
                                style="width: 20%"
                              >
                                Version
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-expression>
                            <tr>
                              <td>{{ expression.syntax }}</td>
                              <td>{{ expression.value }}</td>
                              <td>{{ expression.version }}</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                      <div class="field col-12">
                        <p-table
                          [resizableColumns]="true"
                          [autoLayout]="true"
                          [value]="[
                            genomicinterpretation.variantInterpretation
                              .variationDescriptor?.vcfRecord
                          ]"
                          dataKey="key"
                          [tableStyle]="{ 'min-width': '50rem' }"
                        >
                          <ng-template pTemplate="caption">
                            <div class="table-header">VCF Record</div>
                          </ng-template>
                          <ng-template pTemplate="header">
                            <tr>
                              <th
                                pTooltip="Identifier for the genome assembly used to call the allele. REQUIRED."
                              >
                                Assembly
                              </th>
                              <th
                                pTooltip="Chromosome or contig identifier. REQUIRED."
                              >
                                Chr
                              </th>
                              <th
                                pTooltip="The reference position, with the 1st base having position 1. REQUIRED."
                              >
                                Position
                              </th>
                              <th
                                pTooltip="Identifier: Semicolon-separated list of unique identifiers where available. If this is a dbSNP variant thers number(s) should be used."
                              >
                                ID
                              </th>
                              <th pTooltip="Reference base. REQUIRED.">Ref</th>
                              <th pTooltip="Alternate base. REQUIRED.">Alt</th>
                              <th
                                pTooltip="Quality: Phred-scaled quality score for the assertion made in ALT."
                              >
                                Qual
                              </th>
                              <th
                                pTooltip="Filter status: PASS if this position has passed all filters."
                              >
                                Filter
                              </th>
                              <th
                                pTooltip="Additional information: Semicolon-separated series of additional information fields"
                                style="width: 20%"
                              >
                                Info
                              </th>
                            </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-vcfrecord>
                            <tr>
                              <td>{{ vcfrecord.genomeAssembly }}</td>
                              <td>{{ vcfrecord.chrom }}</td>
                              <td>{{ vcfrecord.pos }}</td>
                              <td>{{ vcfrecord.id }}</td>
                              <td>{{ vcfrecord.ref }}</td>
                              <td>{{ vcfrecord.alt }}</td>
                              <td>{{ vcfrecord.qual }}</td>
                              <td>{{ vcfrecord.filter }}</td>
                              <td>{{ vcfrecord.info }}</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                      <div class="field col-6">
                        <b>Molecular context:</b>
                        <br />
                        {{
                          genomicinterpretation.variantInterpretation
                            .variantDescriptor?.moleculeContext
                        }}
                      </div>
                      <div class="field col-6">
                        <b>Allelic state:</b>
                        <br />
                        {{
                          genomicinterpretation.variantInterpretation.variantDescriptor?.allelicState?.toString()
                        }}
                      </div>
                      <div class="field col-6">
                        <b>Structural type:</b>
                        <br />
                        {{
                          genomicinterpretation.variantInterpretation.variantDescriptor?.structuralType?.toString()
                        }}
                      </div>
                      <div class="field col-6">
                        <b>VRS Ref allele sequence:</b>
                        <br />
                        {{
                          genomicinterpretation.variantInterpretation
                            .variantDescriptor?.vrsRefAlleleSeq
                        }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</p-panel>
