<div class="card">
    <div class="card-body margin">
        <div class="row">
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <b>Id:</b>
                        <br>
                        {{id}}
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <b>Name:</b>
                        <br>
                        {{name}}
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <b>Version:</b>
                        <br>
                        {{version}}
                        <br>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12">
                        <b>Namespace prefix:</b>
                        <br>
                        {{namespacePrefix}}
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <b>IRI prefix:</b>
                        <br>
                        {{iriPrefix}}
                        <br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <b>URL:</b>
                        <br>
                        {{url}}
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>