<div class="grid p-fluid">
  <div class="field col-12">
    <label for="individualId"><b>Individual ID</b></label>
    <input
      id="individualId"
      #id="ngModel"
      type="text"
      required
      pInputText
      [(ngModel)]="subject.id"
      [ngClass]="{
        'ng-dirty': (id?.invalid && submitted) || (id?.dirty && id?.invalid)
      }"
    />
    <small
      *ngIf="(id?.invalid && submitted) || (id?.dirty && id?.invalid)"
      class="p-error"
      >Individual ID is required.</small
    >
  </div>
  <!-- <div class="field col-12 md:col-6">
    <label for="alternateIds">Alternate IDs</label>
    <p-chips id="alternateIds" [(ngModel)]="subject.alternateIds"></p-chips>
  </div> -->
  <div class="field col-12">
    <label for="lastEncounterDate"
      ><b>Age at last clinical encounter</b></label
    >
    <app-time-element
      id="lastEncounterDate"
      [timeElement]="subject?.timeAtLastEncounter"
      (timeElementEvent)="updateTimeOfLastEncounter($event)"
    ></app-time-element>
  </div>

  <div class="field col-12 md:col-4">
    <label for="sex">Sex</label>
    <p-dropdown
      id="sex"
      appendTo="body"
      placeholder="Select sex"
      [(ngModel)]="selectedSex"
      [options]="sexes"
      (onChange)="updateSex($event)"
      pTooltip="Observed apparent sex of the individual"
      showDelay="2000"
      class="w-full"
      optionLabel="name"
      [showClear]="true"
    >
      <ng-template let-sex pTemplate="item">
        <div
          [pTooltip]="sex.definition"
          escape="false"
          tooltipPosition="bottom"
        >
          {{ sex.name }} [{{ sex.id.value }}]
        </div>
      </ng-template>
    </p-dropdown>
  </div>

  <div class="field col-12 md:col-4">
    <label for="karyotypicSex">Karyotypic Sex</label>
    <p-dropdown
      id="karyotypicSex"
      appendTo="body"
      placeholder="Select karyotypic sex"
      [(ngModel)]="selectedKaryotypicSex"
      [options]="getKaryotypicSexes()"
      (ngModelChange)="updateKaryotypicSex($event)"
      pTooltip="The karyotypic sex of the individual"
      showDelay="2000"
      class="w-full"
      optionLabel="name"
      [showClear]="true"
    >
      <ng-template let-karyosex pTemplate="item">
        <div
          [pTooltip]="karyosex.definition"
          escape="false"
          tooltipPosition="bottom"
        >
          {{ karyosex.name }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div class="field col-12 md:col-4"></div>
<!-- We do not need gender for now -->
  <!-- <div *ngIf="!showGender" class="field col-12 md:col-1 align-items-center">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-ellipsis-h"
      class="p-button-rounded p-button-text"
      pTooltip="Show more options"
      (click)="handleClickMore($event)"
    ></button>
  </div>
  <div *ngIf="!showGender" class="field col-12 md:col-3"></div>
  <div *ngIf="showGender" class="field col-12 md:col-3">
    <label for="gender">Gender</label>
    <p-dropdown
      id="gender"
      appendTo="body"
      placeholder="Select gender"
      [options]="genders"
      [(ngModel)]="selectedGender"
      (ngModelChange)="updateGender($event)"
      pTooltip="Self-identified gender"
      showDelay="2000"
      class="w-full"
      optionLabel="name"
      [showClear]="true"
    >
      <ng-template let-gender pTemplate="item">
        <div
          [pTooltip]="gender.definition"
          escape="false"
          tooltipPosition="bottom"
        >
          {{ gender.name }} [{{ gender.id.value }}]
        </div>
      </ng-template>
    </p-dropdown>
  </div>
  <div *ngIf="showGender" class="field col-12 md:col-1">
    <button
      pButton
      pRipple
      type="button"
      icon="pi pi-angle-double-left"
      class="p-button-rounded p-button-text"
      pTooltip="Show less"
      (click)="handleClickMore($event)"
    ></button>
  </div> -->
</div>
<br />
<h3><b>Vital Status</b></h3>
<div class="grid p-fluid">
  <div class="field col-12 md:col-4">
    <label for="status">Status</label>
    <p-dropdown
      id="status"
      appendTo="body"
      placeholder="Select status"
      [options]="getStatuses()"
      [ngModel]="subject?.vitalStatus?.status"
      (ngModelChange)="updateStatus($event)"
      pTooltip="The vital status of the individual e.g. whether they are alive or the time and cause of death. RECOMMENDED"
      tooltipPosition="bottom"
      showDelay="2000"
      class="w-full"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="field col-12 md:col-4"></div>
  <div class="field col-12 md:col-4"></div>

  <div
    class="field col-12 md:col-4"
    *ngIf="subject?.vitalStatus?.status === getDeceasedStatus()"
  >
    <label for="survivalTime">Survival time (days)</label>
    <p-inputNumber
      id="survivalTime"
      [ngModel]="subject?.vitalStatus?.survivalTimeInDays"
      (onInput)="updateSurvivalTime($event)"
      pTooltip="Number of days the patient was alive after their primary diagnosis"
      tooltipPosition="bottom"
    ></p-inputNumber>
  </div>
  <div
    class="field col-12 md:col-4"
    *ngIf="subject?.vitalStatus?.status === getDeceasedStatus()"
  >
    <label for="timeOfDeath">Time of death</label>
    <app-time-element
      id="timeOfDeath"
      [timeElement]="subject?.vitalStatus?.timeOfDeath"
      (timeElementEvent)="updateTimeOfDeath($event)"
    ></app-time-element>
  </div>
  <div
    class="field col-12 md:col-4"
    *ngIf="subject?.vitalStatus?.status === getDeceasedStatus()"
  >
    <label for="causeOfDeath">Cause of death</label>
    <p-dropdown
      id="causeOfDeath"
      placeholder="Select cause of death"
      [options]="causeOfDeaths"
      [virtualScroll]="true"
      [virtualScrollItemSize]="30"
      filter="true"
      optionLabel="label"
      filterBy="label"
      (onChange)="updateCauseOfDeath($event)"
      showClear="true"
    >
      <ng-template let-cause pTemplate="item">
        <div [pTooltip]="cause.id" tooltipPosition="right" escape="false">
          {{ cause.label }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
