<div class="grid p-fluid">
  <div class="field col-12">
    <label for="individualId"><b>Individual ID</b></label>
    <input
      id="individualId"
      #id="ngModel"
      type="text"
      required
      pInputText
      [(ngModel)]="subject.id"
      [ngClass]="{
        'ng-dirty': (id?.invalid && submitted) || (id?.dirty && id?.invalid)
      }"
    />
    <small
      *ngIf="(id?.invalid && submitted) || (id?.dirty && id?.invalid)"
      class="p-error"
      >Individual ID is required.</small
    >
  </div>
  <!-- <div class="field col-12 md:col-6">
    <label for="alternateIds">Alternate IDs</label>
    <p-chips id="alternateIds" [(ngModel)]="subject.alternateIds"></p-chips>
  </div> -->
  <div class="field col-12">
    <label for="lastEncounterDate"
      ><b>Age of clinical examination</b> (Time of last encounter)</label
    >
    <app-time-element
      id="lastEncounterDate"
      [timeElement]="subject?.timeAtLastEncounter"
      (timeElementEvent)="updateTimeOfLastEncounter($event)"
    ></app-time-element>
  </div>

  <div class="field col-12 md:col-4">
    <label for="sex">Sex</label>
    <p-dropdown
      id="sex"
      appendTo="body"
      placeholder="Select sex"
      [(ngModel)]="selectedSex"
      [options]="sexes"
      (onChange)="updateSex($event)"
      pTooltip="Observed apparent sex of the individual"
      showDelay="2000"
      class="w-full"
    ></p-dropdown>
  </div>

  <div class="field col-12 md:col-4">
    <label for="karyotypicSex">Karyotypic Sex</label>
    <p-dropdown
      id="karyotypicSex"
      appendTo="body"
      placeholder="Select karyotypic sex"
      [options]="getKaryotypicSexes()"
      [ngModel]="subject?.karyotypicSex"
      (ngModelChange)="updateKaryotypicSex($event)"
      pTooltip="The karyotypic sex of the individual"
      showDelay="2000"
      class="w-full"
    ></p-dropdown>
  </div>
  <div class="field col-12 md:col-4">
    <label for="gender">Gender</label>
    <p-dropdown
      id="gender"
      appendTo="body"
      placeholder="Select gender"
      [options]="genders"
      [ngModel]="subject?.gender"
      (ngModelChange)="updateGender($event)"
      pTooltip="Self-identified gender"
      showDelay="2000"
      class="w-full"
    ></p-dropdown>
  </div>
</div>
<br />
<h3><b>Vital Status</b></h3>
<div class="grid p-fluid">
  <div class="field col-12 md:col-6">
    <label for="status">Status</label>
    <p-dropdown
      id="status"
      appendTo="body"
      placeholder="Select status"
      [options]="getStatuses()"
      [ngModel]="subject?.vitalStatus?.status"
      (ngModelChange)="updateStatus($event)"
      pTooltip="The life status of the individual"
      showDelay="2000"
      class="w-full"
    ></p-dropdown>
  </div>
  <div class="field col-12 md:col-6">
    <label for="survivalTime">Survival time (days)</label>
    <p-inputNumber
      id="survivalTime"
      [ngModel]="subject?.vitalStatus?.survivalTimeInDays"
      (onInput)="updateSurvivalTime($event)"
    ></p-inputNumber>
  </div>

  <div
    class="field col-6"
    *ngIf="subject?.vitalStatus?.status === getDeceasedStatus()"
  >
    <label for="timeOfDeath">Time of death</label>
    <app-time-element
      id="timeOfDeath"
      [timeElement]="subject?.vitalStatus?.timeOfDeath"
      (timeElementEvent)="updateTimeOfDeath($event)"
    ></app-time-element>
  </div>
  <div
    class="field col-6"
    *ngIf="subject?.vitalStatus?.status === getDeceasedStatus()"
  >
    <label for="causeOfDeath">Cause of death</label>
    <p-dropdown
      id="causeOfDeath"
      placeholder="Select cause of death"
      [options]="causeOfDeaths"
      [virtualScroll]="true"
      [virtualScrollItemSize]="30"
      filter="true"
      optionLabel="name"
      filterBy="name"
      (onChange)="updateCauseOfDeath($event)"
      showClear="true"
    >
      <ng-template let-cause pTemplate="item">
        <div [pTooltip]="cause.id" tooltipPosition="right" escape="false">
          {{ cause.name }}
        </div>
      </ng-template>
    </p-dropdown>
  </div>
</div>
