table {
    overflow: auto;
    width: 100%;
    max-height: 100px;
    table-layout: fixed;
}

.example-container {
    height: 800px;
    overflow: auto;
}
.example-element-detail {
    overflow: hidden;
    display: flex;
}
.example-element-row td {
    border-bottom-width: 0;
}
tr.example-detail-row {
    height: 0;
}