.about {
  .wrapper {
    .contact-card {
      margin: 1rem;
      & .contact-img {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        border-radius: 999px;
        overflow: hidden;
        margin: 0 auto;

        & img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
        }
      }

      & .contact-bio {
        text-align: center;

        .pi {
          cursor: pointer;
          font-size: 1.2rem;

          &:hover {
            opacity: .5;
          }
        }
        .contact-name {
          margin: 0.25rem 0 0 0;
        }
        .contact-title {
          margin: 0 0 .25rem 0;
          text-transform: uppercase;
          color: gray;
        }
      }
    }
    .publications {
      ul {
        list-style-type:none;
      }
    }
    .action-wrapper {
      a {
        padding: 0.45625rem 1rem !important;
        &:not(:first-child){
          margin: 0 0 0 .25rem;
        }

        &:hover {
          opacity: .5;
        }
      }
    }
  }
}
