a {
    color: #9c27b0;
    background-color: transparent;
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  
  .h3, h3 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    font-size: 1.5625rem;
    line-height: 1.4em;
  }
  
  .card {
    margin-top: 10px;
  }
  
  .learn-more-button {
    display: block;
    border: none;
    height: 50px;
    color:#fff;
    background: #3458bf;
  }
  