<mat-tab-group mat-align-tabs="start">
  <mat-tab label="Age">
    <app-date></app-date>
  </mat-tab>
  <mat-tab label="Age Range">
    <div class="row">
      <div class="col-md-12">
        Start
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-date></app-date>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        End
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-date></app-date>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Gestational Age">
    <div class="row">
      <div class="col-md-12">
        Weeks
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="fill">
          <mat-label>Weeks</mat-label>
          <input matInput type="number" placeholder="Ex. 1" min="0" max="42">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Days
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <app-search-filter [options]="days" title="Select days"></app-search-filter>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Ontology Class">
    <div class="row">
      <div class="col-md-12">
        <app-search-filter [options]="ontologies" title="Select ontology"></app-search-filter>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>