// .example-form-field {
//     min-width: 100px;
// }

#ontology-section {
    border-radius: 4px !important;
    border: 2px solid lightgrey;
    padding: 10px;
    margin: 0px;
}
#ontology-section > label {
    position: absolute;
    top: -10px;
    left: 25px;
    background-color: white;
}
// #ontology-section:hover {
//     border: 2px solid black;
//     padding: 10px;
//     margin: 0px;
// }
