<p-autoComplete
  [(ngModel)]="selectedItem"
  appendTo="body"
  [virtualScroll]="true"
  [suggestions]="filteredItems"
  [virtualScrollItemSize]="34"
  (completeMethod)="filterItems($event)"
  (onSelect)="itemSelected($event)"
  field="lbl"
  placeholder="{{ placeHolderTxt }}"
  [dropdown]="true"
>
  <ng-template let-item pTemplate="item">
    <div
      [pTooltip]="item.lbl"
      showDelay="1000"
      tooltipPosition="bottom"
      escape="false"
    >
      [{{ item.id }}] {{ item.lbl }}
    </div>
  </ng-template>
</p-autoComplete>
