<table mat-table *ngIf="vcfRecordDataSource.isDataPresent() | async" class="table-hover mat-elevation-z2"
    [dataSource]="vcfRecordDataSource" multiTemplateDataRows>

    <ng-container matColumnDef="assembly">
        <th mat-header-cell *matHeaderCellDef> Genomic assembly </th>
        <td mat-cell *matCellDef="let element"> {{element.genomeAssembly}} </td>
    </ng-container>
    <ng-container matColumnDef="chrom">
        <th mat-header-cell *matHeaderCellDef> Contig </th>
        <td mat-cell *matCellDef="let element"> {{element.chrom}} </td>
    </ng-container>
    <ng-container matColumnDef="pos">
        <th mat-header-cell *matHeaderCellDef> Position </th>
        <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
    </ng-container>
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="ref">
        <th mat-header-cell *matHeaderCellDef> Reference allele </th>
        <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
    </ng-container>
    <ng-container matColumnDef="alt">
        <th mat-header-cell *matHeaderCellDef> Alternate allele </th>
        <td mat-cell *matCellDef="let element"> {{element.alt}} </td>
    </ng-container>

    <ng-container matColumnDef="qual">
        <th mat-header-cell *matHeaderCellDef> Quality </th>
        <td mat-cell *matCellDef="let element"> 
            <div *ngIf="element.qual">
                {{element.qual}}
            </div>
            <div *ngIf="element.qual==undefined">
                N/A
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="filter">
        <th mat-header-cell *matHeaderCellDef> Filter </th>
        <td mat-cell *matCellDef="let element"> {{element.filter}} </td>
    </ng-container>
    <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef> Info </th>
        <td mat-cell *matCellDef="let element"> {{element.info}} </td>
    </ng-container>

    <ng-container matColumnDef="remove">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button (click)="$event.stopPropagation()" mat-icon-button type="submit" class="pull-right"
                matTooltip="Delete VCF record" [matTooltipShowDelay]="2000"
                (click)="deleteVcfRecord(element)">
                <mat-icon matSuffix>delete</mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="vcfRecordDisplayedColumns"></tr>
    <tr mat-row *matRowDef="let element; columns: vcfRecordDisplayedColumns;" class="example-element-row">
    </tr>

</table>