<div class="grid p-fluid">
  <div *ngIf="showAddButton" class="field col-12">
    <div class="add-button-container">
      <button
        mat-raised-button
        (click)="addPhenotypicFeature()"
        class="add-button mat-elevation-z2"
      >
        Add Phenotypic Feature
      </button>
    </div>
  </div>

  <div class="field col-12">
    <app-search-box
      [showHint]="false"
      [itemName]="itemName"
      [searchLabel]="searchLabel"
      [placeHolderTxt]="placeHolderTxt"
      [localStorageKey]="localStorageKey"
      [searchService]="searchService"
      (selectedSearchItem)="onSearchCriteriaChange($event)"
      [resetSearch]="false"
    ></app-search-box>
  </div>
  <div *ngIf="showTable" class="field col-12">
    <p-table
      [value]="phenotypicFeatures"
      dataKey="key"
      styleClass="phenopacket-list-tabs"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th pResizableColumn style="min-width: 2rem">Label</th>
          <th pResizableColumn>Status</th>
          <th pResizableColumn>Onset</th>
          <th pResizableColumn>Resolution</th>
          <th pResizableColumn>Severity</th>
          <th pResizableColumn>Modifiers</th>
          <th pResizableColumn>Evidence</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-feature let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="feature"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>{{ feature.type.label }}</td>
          <td>{{ feature.excluded ? "Excluded" : "Observed" }}</td>
          <td [innerHTML]="feature.onset?.toString() | safeText"></td>
          <td>{{ feature.resolution?.toString() }}</td>
          <td [innerHTML]="feature.severity?.toString() | safeText"></td>
          <td [innerHTML]="getModifiers(feature) | safeText"></td>
          <td [innerHTML]="getEvidences(feature) | safeText"></td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text"
              (click)="editPhenotypicFeature(feature)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-warning"
              (click)="deleteFeature(feature)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-feature>
        <tr>
          <td colspan="9">
            <div class="p-3">
              <app-phenotypic-detail
                [phenotypicFeature]="feature"
              ></app-phenotypic-detail>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
