:host ::ng-deep .primary-chip {
    background-color: teal;
    color: white;
}
:host ::ng-deep .accent-chip {
    background-color: yellowgreen; 
}
:host ::ng-deep .gray-chip {
    background-color: gray; 
}