<p-toast position="center" key="cen"></p-toast>
<div class="grid p-fluid">
  <div class="field col-12 md:col-6">
    <label for="subjectid">Subject ID</label>
    <input
      id="subjectid"
      type="text"
      [disabled]="true"
      aria-describedby="Subject ID"
      pInputText
      [ngModel]="genomicInterpretation?.subjectOrBiosampleId"
      pTooltip="Set in Individual Page as the Individual ID"
    />
  </div>
  <div class="field col-12 md:col-6">
    <label for="interpretationstatus">Interpretation Status</label>
    <p-dropdown
      id="interpretationstatus"
      appendTo="body"
      placeholder="Select interpretation status"
      [ngModel]="genomicInterpretation?.interpretationStatus"
      [options]="interpretationStatuses"
      (onChange)="updateInterpretationStatus($event)"
      pTooltip="Interpretation status"
      showDelay="2000"
      class="w-full"
      showClear="true"
    >
    </p-dropdown>
  </div>

  <p-tabView>
    <p-tabPanel header="Variant Interpretation" pTooltip="This element represents the interpretation of a variant according to the American College of Medical Genetics (ACMG) variant interpretation guidelines.">
      <app-variant-search-interpretation
        (variantInterpretationChange)="addVariantInterpretation($event)"
      ></app-variant-search-interpretation>
    </p-tabPanel>
    <p-tabPanel header="Gene Descriptor" pTooltip="This element represents an identifier for a gene, using the Gene Descriptor from the VRSATILE Framework. Gene Descriptors can be used to transmit the information that the gene is thought to play a causative role in the disease phenotypes being described in cases where the exact variant cannot be transmitted, either for privacy reasons or because it is unknown.">
      <app-gene-descriptor
        (geneDescriptorChange)="addGeneDescriptor($event)"
      ></app-gene-descriptor>
    </p-tabPanel>
  </p-tabView>
</div>
