app-header {
  position: fixed;
  width: 100vw;
  z-index: 10;
}
.logo-img {
  width: 15rem;
  height: auto;

  &:hover{
    opacity: 0.75;
  }
}
.main {
  display: flex;
  min-height: calc(100vh - 70px);
  width: 100%;
  margin: 70px 0 0 0;
  background-color: white;

  .sidebar {
    .p-sidebar {
      width: auto !important;
      position: unset !important;
      color: #00796b;
      .p-sidebar-header, .p-sidebar-footer {
        display: none;
      }
      .p-sidebar-content {
        padding: 0;
      }

      .menu-list.phenopacket-menu .p-menuitem {
        margin-left: 1rem;

      }

      .menu-list .p-menu {
        padding: 0;
        border: 0 !important;
        margin: 0;
        width: auto;

        .p-menuitem {
          font-size: .8rem;

          & .p-menuitem-link:focus {
            box-shadow: none !important;
          }

          &.submenu {
            padding-left: 1.5rem;
            font-size: 0.7rem;
            .p-menuitem-link-active {
              background: rgb(218 224 223 / 34%) !important;
            }
          }
        }
      }
    }
  }

  .content-wrapper {
    flex: 6;

    .content {
      flex: 1 0 auto;
      padding: 0 0.5rem 0 0.5rem;
    }

    &.full {
      flex: auto;
    }

    &.pl-short{
      padding: .15rem;
    }

    .static-content-profile {
      .wrapper {
        padding: 1rem 0 0 0;
        .subsection {
          margin: 1rem 0 0 0;
          a {
            text-decoration: none;
          }
          .subsection-title {
            text-transform: uppercase;
          }
        }
      }
    }

    .footer {
      width: 100%;
      flex-shrink: 0;
      margin-top: 1rem;
      .footer-link {
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          width: fit-content;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.1em;
            background-color: #14B8A6;
            opacity: 0;
            transition: opacity 300ms, transform 300ms;
          }

          &:hover::after{
            opacity: 1;
            transform: translate3d(0, 0.2em, 0);
          }

          .p-button-text {
            color: black !important;
          }
        }
      }
      .footer-hr {
        vertical-align: middle;
        align-content: center;
        display: inline-flex;
        hr {
          height: 0;
          align-self: center;
          border-color: #d4d4d44d;
          width: 75%;
        }
      }
    }
  }

  .p-menu .p-menuitem-link:not(.p-disabled):not(.p-menuitem-link-active):hover {
    background: none !important;
    opacity: .65;
  }

}
.welcome-screen {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../assets/img/helix_image.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.bgimg {
  background-image: url('../assets/img/helix_image.jpg');
}
.pheno-logo {
  height: 30px;
  padding: .25rem;
}
.welcome-card {
  height:100px;
  width: 100%;
  color: white;
  background-color: white;
  cursor: pointer;
  opacity: 0.75;
  &:hover{
    opacity: 0.75;
  }
}
