<div class="card">
  <div class="card-body margin">
    <div class="row">
      <div class="col-md-6" style="clear: both">
        <h2><b>{{phenotypicDetailName}} </b></h2>
        <h3>{{termId}}</h3>
      </div>
      <div class="col-md-6">
        <button (click)="openEditDialog()" mat-icon-button type="submit" class="pull-right" matTooltip="Edit">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p>
          {{description}}
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <b>Status:</b> {{status}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <b>Onset:</b> {{onset}}
      </div>
      <div class="col-md-6">
        <b>Resolution:</b> {{resolution}}
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <b>Severity:</b> {{severity}}
      </div>
      <div class="col-md-12">
        <b>Modifiers:</b> {{modifiers}}
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-md-12">
        <b>Evidence:</b>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        ID: {{evidenceId}}
      </div>
      <div class="col-md-6">
        Name: {{evidenceName}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Reference: {{evidenceReference}}
      </div>
      <div class="col-md-6">
        Description: <p>{{evidenceDescription}}</p>
      </div>
    </div>

  </div>
</div>