<p-toast position="center" key="cen"></p-toast>
<div class="grid p-fluid">
  <div class="field col-12 center">
    <b>Variation Search</b>
  </div>
  <div class="field col-12 md:col-6">
    <label for="acmg">Acmg pathogenicity classification</label>
    <p-dropdown
      id="acmg"
      appendTo="body"
      placeholder="Select Acmg pathogenicity"
      [(ngModel)]="selectedAcmgPathogenicity"
      [options]="acmgClassifications"
      class="w-full"
    ></p-dropdown>
  </div>
  <div class="field col-12 md:col-6">
    <label for="therapeutic">Therapeutic actionability</label>
    <p-dropdown
      id="therapeutic"
      appendTo="body"
      placeholder="Select Therapeutic actionability"
      [(ngModel)]="selectedTherapeuticActionability"
      [options]="therapeuticActionabilities"
      class="w-full"
    ></p-dropdown>
  </div>

  <div class="field col-12">
    This interface uses the Variant Validator
    <a href="https://rest.variantvalidator.org/" target="_blank">API</a>
    in order to find and create new variant interpretation in the phenopacket.
  </div>
  <div class="field col-12">
    <label for="hgvs">HGVS</label>

    <div class="p-inputgroup">
      <input
        pInputText
        id="hgvs"
        type="text"
        aria-describedby="HGVS annotation"
        [(ngModel)]="hgvs"
      />
      <p-button
        (click)="openHGVSHelp()"
        icon="pi pi-external-link"
        pTooltip="Show Help"
      ></p-button>
    </div>
    E.g.
    <a href="javascript:void(0);" (click)="updateHgvs('NM_000088.3:c.589G>T')"
      >NM_000088.3:c.589G>T</a
    >
  </div>

  <div class="field col-12 md:col-6">
    <!-- <label for="genotype">Genotype</label> -->
    <p-dropdown
      id="genotype"
      appendTo="body"
      placeholder="Select genotype"
      [(ngModel)]="genotype"
      [options]="genotypes"
      pTooltip="Genotype"
      showDelay="2000"
      class="w-full"
    ></p-dropdown>
  </div>
  <div class="field col-12 md:col-6"></div>

  <div class="field col-12 md:col-4">
    <button
      pButton
      type="button"
      label="Search"
      pTooltip="Search variant by HGVS"
      (click)="searchVariantByHGVS()"
    ></button>
  </div>
  <div class="field col-12 md:col-8"></div>

  <div *ngIf="visible" class="field col-12">
    <p-table
      [value]="interpretations"
      dataKey="key"
      styleClass="p-datatable-gridlines"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">Variant found</div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th pResizableColumn style="min-width: 2rem">Chr</th>
          <th pResizableColumn>HGVS</th>
          <th pResizableColumn>Gene symbol</th>
          <!-- <th pResizableColumn>Molecule context</th> -->
          <th pResizableColumn></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interpretation let-expanded="expanded">
        <tr [pSelectableRow]="interpretation">
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="interpretation"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>
            {{ interpretation.variationDescriptor.vcfRecord?.chrom }}
          </td>
          <td>{{ getHgvsExpression(interpretation, "hgvs.c") }}</td>
          <td>
            {{ interpretation.variationDescriptor.geneContext?.symbol }}
          </td>
          <!-- <td>
            {{ interpretation.variationDescriptor.moleculeContext }}
          </td> -->
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-plus"
              pTooltip="Add interpretation"
              class="p-button-rounded p-button-primary"
              (click)="addInterpretation(interpretation)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-interpretation>
        <tr>
          <td colspan="5">
            <div class="p-3">
              <app-variation-descriptor
                [variationDescriptor]="interpretation.variationDescriptor"
                (variationDescriptorChange)="updateVariationDescriptor($event)"
              ></app-variation-descriptor>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-dialog
  header="HGVS Helper"
  [(visible)]="showHGVSHelp"
  [style]="{ width: '19vw' }"
>
  <b>Examples for this field include the following :</b>
  <i>HGVS</i>
  <br />
  <ul>
    <li>NM_000088.3:c.589G>T</li>
    <li>NC_000017.10:g.48275363C>A</li>
    <li>NG_007400.1:g.8638G>T</li>
    <li>LRG_1:g.8638G>T</li>
    <li>LRG_1t1:c.589G>T</li>
  </ul>
  <br />
  <i>Pseudo-VCF</i>
  <ul>
    <li>17-50198002-C-A</li>
    <li>17:50198002:C:A</li>
    <li>GRCh38-17-50198002-C-A</li>
    <li>GRCh38:17:50198002:C:A</li>
  </ul>
  <br />
  <i>Hybrid</i>
  <ul>
    <li>chr17:50198002C>A</li>
    <li>chr17:50198002C>A(GRCh38)</li>
    <li>chr17(GRCh38):50198002C>A</li>
    <li>chr17:g.50198002C>A</li>
    <li>chr17:g.50198002C>A(GRCh38)</li>
    <li>chr17(GRCh38):g.50198002C>A</li>
  </ul>
  <br />
  This UI will use build GRCh38 to perform a search. In order to do more detailed
  searches, you can use directly the PhenopacketLab API accessible on this
  <a [href]="apiLink" target="_blank">link</a>.
</p-dialog>
