<div class="grid p-fluid">
  <div *ngIf="showAddButton" class="field col-12">
    <div class="add-button-container">
      <button
        mat-raised-button
        (click)="addPhenotypicFeature()"
        class="add-button mat-elevation-z2"
      >
        Add Phenotypic Feature
      </button>
    </div>
  </div>

  <div class="field col-12">
    <app-search-box
      [showHint]="false"
      [itemName]="'Phenotypic feature'"
      [searchLabel]="'Phenotypic feature'"
      [placeHolderTxt]="'Enter a phenotypic feature name'"
      [items]="featureItems"
      (selectedItemChange)="featureItemSelected($event)"
    ></app-search-box>
    
  </div>
  <div *ngIf="showTable" class="field col-12">
    <p-table
      [value]="phenotypicFeatures"
      dataKey="key"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th pResizableColumn style="min-width: 2rem">Label</th>
          <th pResizableColumn>Status</th>
          <th pResizableColumn>Onset</th>
          <th pResizableColumn>Resolution</th>
          <th pResizableColumn>Severity</th>
          <th pResizableColumn>Modifiers</th>
          <th pResizableColumn>Evidence</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-feature let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="feature"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>{{ feature.type.label }}</td>
          <td>{{ feature.excluded ? "Excluded" : "Observed" }}</td>
          <td>
            <span *ngIf="feature.onset?.ontologyClass"
              ><a [href]="feature.onset.ontologyClass.url" target="_blank"
                >[{{ feature.onset.ontologyClass.id }}]</a
              >
              {{ feature.onset.ontologyClass.label }}</span
            ><span *ngIf="!feature.onset?.ontologyClass">{{
              feature.onset?.toString()
            }}</span>
          </td>
          <td>{{ feature.resolution?.toString() }}</td>
          <td>
            <a
              *ngIf="feature.severity"
              [href]="feature.severity?.url"
              target="_blank"
              >[{{ feature.severity?.id }}]</a
            >
            {{ feature.severity?.label }}
          </td>
          <td>
            <span
              *ngFor="
                let modifier of feature.modifiers;
                let indexOfelement = index
              "
            >
              <a [href]="modifier.url" target="_blank">[{{ modifier.id }}]</a>
              {{ modifier.label
              }}<span *ngIf="indexOfelement < feature.modifiers?.length - 1"
                >,
              </span>
            </span>
          </td>
          <td>
            <span
              *ngFor="
                let evidence of feature.evidences;
                let indexOfelement = index
              "
            >
              <a [href]="evidence.evidenceCode?.url" target="_blank"
                >[{{ evidence.evidenceCode?.id }}]</a
              >
              {{ evidence.evidenceCode?.label
              }}<span *ngIf="indexOfelement < feature.evidences?.length - 1"
                >,
              </span>
            </span>
          </td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text"
              (click)="editPhenotypicFeature(feature)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-warning"
              (click)="deleteFeature(feature)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-feature>
        <tr>
          <td colspan="9">
            <div class="p-3">
              <app-phenotypic-detail
                [phenotypicFeature]="feature"
              ></app-phenotypic-detail>
            </div>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
