<p-toast position="center" key="cen"></p-toast>
<div class="grid p-fluid">
  <div class="field col-12 md:col-6">
    <label for="variationid">Variation ID</label>
    <input
      id="variationid"
      type="text"
      aria-describedby="Variation ID"
      pInputText
      pTooltip="Descriptor ID; MUST be unique within document. REQUIRED."
      [ngModel]="variationDescriptor?.id"
      (ngModelChange)="onIdChange($event)"
    />
  </div>
  <div class="field col-12 md:col-6">
    <label for="label">Label</label>
    <input
      id="label"
      type="text"
      aria-describedby="Label"
      pInputText
      pTooltip="A primary label for the variation"
      [ngModel]="variationDescriptor?.label"
      (ngModelChange)="onLabelChange($event)"
    />
  </div>
  <div class="field col-12">
    <label for="description">Description</label>
    <textarea
      id="description"
      pTooltip="A free-text description of the variation"
      rows="2"
      cols="30"
      pInputTextarea
      [ngModel]="variationDescriptor?.description"
      (ngModelChange)="onDescriptionChange($event)"
      [autoResize]="false"
    ></textarea>
  </div>
  <div class="field cold-12">
    <p-table
      [value]="variationDescriptor?.expressions"
      dataKey="key"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">Expressions</div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th
            pTooltip="A name for the expression syntax. REQUIRED."
            style="width: 20%"
          >
            Syntax
          </th>
          <th
            pTooltip="The concept expression as a string. REQUIRED."
            style="width: 40%"
          >
            Value
          </th>
          <th
            pTooltip="An optional version of the expression syntax."
            style="width: 20%"
          >
            Version
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-expression let-editing="editing">
        <tr>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="expression?.syntax"
            pEditableColumnField="syntax"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText type="text" [(ngModel)]="expression.syntax" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ expression.syntax }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="expression.value"
            pEditableColumnField="value"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="expression.value"
                  required
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ expression.value }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="expression.version"
            pEditableColumnField="version"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="expression.version" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ expression.version }}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="field cold-12">
    <p-table
      [resizableColumns]="true"
      [autoLayout]="true"
      [value]="[variationDescriptor?.vcfRecord]"
      dataKey="key"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">VCF Record</div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th
            pTooltip="Identifier for the genome assembly used to call the allele. REQUIRED."
          >
            Assembly
          </th>
          <th pTooltip="Chromosome or contig identifier. REQUIRED.">Chr</th>
          <th
            pTooltip="The reference position, with the 1st base having position 1. REQUIRED."
          >
            Position
          </th>
          <th
            pTooltip="Identifier: Semicolon-separated list of unique identifiers where available. If this is a dbSNP variant thers number(s) should be used."
          >
            ID
          </th>
          <th pTooltip="Reference base. REQUIRED.">Ref</th>
          <th pTooltip="Alternate base. REQUIRED.">Alt</th>
          <th
            pTooltip="Quality: Phred-scaled quality score for the assertion made in ALT."
          >
            Qual
          </th>
          <th
            pTooltip="Filter status: PASS if this position has passed all filters."
          >
            Filter
          </th>
          <th
            pTooltip="Additional information: Semicolon-separated series of additional information fields"
            style="width: 20%"
          >
            Info
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-vcfrecord let-editing="editing">
        <tr>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.genomeAssembly"
            pEditableColumnField="genomeAssembly"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="vcfrecord.genomeAssembly"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.genomeAssembly }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.chrom"
            pEditableColumnField="chrom"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input
                  pInputText
                  type="text"
                  [(ngModel)]="vcfrecord.chrom"
                  required
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.chrom }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.pos"
            pEditableColumnField="pos"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="vcfrecord.pos" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.pos }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.id"
            pEditableColumnField="id"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="vcfrecord.id"
                />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord?.id }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.ref"
            pEditableColumnField="ref"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="vcfrecord.ref" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.ref }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.alt"
            pEditableColumnField="alt"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="vcfrecord.alt" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.alt }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.qual"
            pEditableColumnField="qual"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="vcfrecord.qual" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.qual }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.filter"
            pEditableColumnField="filter"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="vcfrecord.filter" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.filter }}
              </ng-template>
            </p-cellEditor>
          </td>
          <td
            pTooltip="Click on cell to edit"
            [pEditableColumn]="vcfrecord.info"
            pEditableColumnField="info"
          >
            <p-cellEditor>
              <ng-template pTemplate="input">
                <input pInputText [(ngModel)]="vcfrecord.info" />
              </ng-template>
              <ng-template pTemplate="output">
                {{ vcfrecord.info }}
              </ng-template>
            </p-cellEditor>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="field col-12 md:col-6">
    <label for="molecular">Molecular Context</label>
    <p-dropdown
      id="molecular"
      appendTo="body"
      placeholder="Select Molecular context"
      [ngModel]="variationDescriptor?.moleculeContext"
      [options]="moleculeContexts"
      (onChange)="updateMoleculeContext($event)"
      class="w-full"
      [showClear]="true"
    ></p-dropdown>
  </div>
  <div class="field col-12 md:col-6">
    <label for="allelic">Allelic State</label>

    <p-treeSelect
      ngDefaultControl
      id="allelic"
      appendTo="body"
      pTooltip="The zygosity of the variant as determined in all of the samples represented in this Phenopacket is represented using a list of terms taken from the Genotype Ontology (GENO)."
      [ngModel]="variationDescriptor?.allelicState"
      [options]="allelicStatesNodes"
      (onNodeSelect)="updateAllelicState($event)"
      [metaKeySelection]="false"
      placeholder="Select item"
      [filter]="true"
      [filterInputAutoFocus]="true"
      [showClear]="true"
      (onClear)="updateAllelicState($event)"
    >
    <ng-template let-node pTemplate="default">
      <span [pTooltip]="node.key">{{ node.label }}</span>
    </ng-template>
    </p-treeSelect>
  </div>
  <div class="field col-12 md:col-6">
    <label for="structural">Structural type</label>
    <p-treeSelect
      ngDefaultControl
      id="structural"
      appendTo="body"
      [(ngModel)]="structuralTypeSelected"
      [options]="structuralTypesNodes"
      (onNodeSelect)="updateStructuralType($event)"
      [metaKeySelection]="false"
      placeholder="Select Structural type"
      pTooltip="The structural variant type associated with this variant, such as a substitution, deletion, or fusion."
      [filter]="true"
      [filterInputAutoFocus]="true"
      [showClear]="true"
      (onClear)="updateStructuralType($event)"
    >
      <ng-template let-node pTemplate="default">
        <span [pTooltip]="node.description">{{ node.label }} [{{node.key}}]</span>
      </ng-template>
    </p-treeSelect>
  </div>
</div>
