<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h3>Angular components for Phenopacket</h3>
                                <p>Click on the sidebar to select examples of Angular UI.</p>
                                <p>TODO: the data used to create the trees should be downloaded from one of the
                                    phenotype data sources using BioDownload. Finally, the SelectableOntologyTree node
                                    behaviour needs to have inherited behaviour for the toggle state of each tree node.
                                </p>
                                <p>This is a response from the Spring Boot backend: {{message}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <br>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>