<p-toast position="center" key="cen"></p-toast>
<div class="grid p-fluid">
  <div class="field col-12 md:col-6">
    <label for="interpretationid">Interpretation ID</label>
    <input
      id="interpretationid"
      type="text"
      aria-describedby="Interpretation ID"
      required
      pInputText
      [(ngModel)]="id"
      [ngClass]="{
        'ng-dirty': !id && submitted
      }"
    />
    <!-- (ngModelChange)="onIdChange($event)" -->
    <small *ngIf="!id && submitted" class="p-error"
      >Interpretation ID is required.</small
    >
    <p-checkbox
      label="I confirm that this ID is not a medical record number, date of birth, initials, location, email, name, address, or any other personal identifying information."
      [binary]="true"
      [(ngModel)]="isPrivateInfoWarnSelected"
      labelStyleClass="label-active text-sm"
      [ngClass]="{ 'label-active': !isPrivateInfoWarnSelected }"
    ></p-checkbox>
  </div>
  <div class="field col-12 md:col-6">
    <label for="progressstatus">Progress status</label>
    <p-dropdown
      id="progressstatus"
      appendTo="body"
      placeholder="Select progress status"
      [(ngModel)]="selectedProgressStatus"
      [options]="progressStatuses"
      (onChange)="updateProgressStatus($event)"
      pTooltip="Progress status"
      tooltipPosition="bottom"
      showDelay="2000"
      required
      class="w-full"
      showClear="true"
      [ngClass]="{
        'ng-dirty': !selectedProgressStatus && submitted
      }"
    ></p-dropdown>
    <small *ngIf="!selectedProgressStatus && submitted" class="p-error"
      >Progress status is required.</small
    >
  </div>
  <!-- <div class="field col-12 md:col-12">
    <span class="p-float-label">
      <textarea
        id="summary"
        rows="5"
        cols="30"
        pInputTextarea
        (ngModelChange)="onSummaryChange($event)"
      ></textarea>
      <label for="Summary">Summary</label>
    </span>
  </div> -->
  <div class="field col-12">
    <p-card
      header="Diagnosis"
      subheader="Create a diagnosis with its corresponding disease and genomic interpretation."
    >
      <div class="grid p-fluid">
        <div class="field col-12 md:col-6">
          <label for="disease">Disease</label>
          <p-dropdown
            id="disease"
            placeholder="Select disease"
            dataKey="id"
            [options]="diseaseItems"
            appendTo="body"
            [virtualScroll]="true"
            [virtualScrollItemSize]="30"
            required
            filter="true"
            filterBy="lbl,id"
            optionLabel="lbl"
            [(ngModel)]="selectedDiseaseItem"
            (onChange)="updateDiseaseItemSelection($event)"
            showClear="true"
            [ngClass]="{
              'ng-dirty': !selectedDiseaseItem && submitted
            }"
          >
            <ng-template let-item pTemplate="item">
              <div
                [pTooltip]="item.lbl"
                showDelay="2000"
                tooltipPosition="bottom"
                escape="false"
              >
                [{{ item.id }}] {{ item.lbl }}
              </div>
            </ng-template>
          </p-dropdown>
          <small *ngIf="!selectedDiseaseItem && submitted" class="p-error"
            >Disease diagnosis is required.</small
          >
        </div>

        <div class="field col-12 md:col-6"></div>
        <div class="field col-12">
          <button
            pButton
            label="Add Genomic Interpretation"
            (click)="addGenomicInterpretation()"
            icon="pi pi-plus"
            class="p-button-text"
            style="width: 300px"
          ></button>
        </div>

        <div *ngIf="genomicInterpretationVisible" class="field col-12">
          <p-table
            [value]="genomicInterpretations"
            dataKey="key"
            [tableStyle]="{ 'min-width': '60rem' }"
          >
            <ng-template pTemplate="caption">
              <div class="table-header">Genomic Interpretation(s)</div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5rem"></th>
                <th pResizableColumn style="min-width: 2rem">Subject ID</th>
                <th pResizableColumn>Status</th>
                <th pResizableColumn>Call</th>
                <th pResizableColumn></th>
              </tr>
            </ng-template>
            <ng-template
              pTemplate="body"
              let-genomicinterpretation
              let-expanded="expanded"
            >
              <tr>
                <td>
                  <button
                    type="button"
                    pButton
                    pRipple
                    [pRowToggler]="genomicinterpretation"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="
                      expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'
                    "
                  ></button>
                </td>
                <td>{{ genomicinterpretation.subjectOrBiosampleId }}</td>
                <td>{{ genomicinterpretation.interpretationStatus }}</td>
                <td>{{ getCall(genomicinterpretation) }}</td>
                <td>
                  <button
                    pButton
                    pRipple
                    icon="pi pi-trash"
                    class="p-button-rounded p-button-warning"
                    (click)="deleteGenomicInterpretation(genomicinterpretation)"
                  ></button>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-genomicinterpretation>
              <tr>
                <td colspan="5">
                  <div class="p-3">
                    <app-genomic-interpretation
                      [genomicInterpretation]="genomicinterpretation"
                      [profile]="profile"
                      (genomicInterpretationChange)="
                        updateGenomicInterpretation(
                          $event,
                          genomicinterpretation
                        )
                      "
                      [submitted]="submitted"
                    ></app-genomic-interpretation>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </p-card>
  </div>
  <div class="field col-12 right">
    <button
      pButton
      label="Save Interpretation"
      (click)="updateInterpretation()"
      icon="pi pi-save"
      style="width: 300px"
    ></button>
  </div>
</div>
