/* You can add global styles to this file, and also import other style files */
.pheno-object {
    border-radius: 4px !important;
    border: 0.5px solid lightgrey;
    padding: 10px;
    margin: 0px;
}