.phenopacket-list-tabs {
  .p-tabview-panels {
    padding: 0 !important;

    & .p-element:not(:first-child) .p-tabview-panel {
      padding: 1.25rem !important;
    }
  }

  .p-tabview-nav-link {
    text-decoration: none !important;
    &:focus{
      outline: none !important;
      box-shadow: none !important;
    }
  }

  .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:hover{
    background: #e9ecef;
    color: #495057;
  }


  .p-datatable .p-datatable-tbody > tr:focus {
    outline: 0 none;
  }

  .actions {
    display: inline-flex;
    .p-button {
      margin: .25rem;
    }
  }
}