<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title style="font-size: 20px">
      Search through ontology
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <p>
      <mat-form-field>
        <input
          matInput
          placeholder="Search"
          ngDefaultControl
          [(ngModel)]="searchString"
        />
      </mat-form-field>
      <!-- <input [(ngModel)]="searchString" /> -->
      <mat-tree
        [dataSource]="dataSource"
        ngDefaultControl
        [treeControl]="treeControl"
      >
        <mat-tree-node
          *matTreeNodeDef="let node"
          [style.display]="filterLeafNode(node) ? 'none' : 'block'"
          matTreeNodeToggle
          matTreeNodePadding
          matTreeNodePaddingIndent="20"
        >
          <button class="button__arrow" mat-icon-button disabled></button>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Y</mat-button-toggle>
            <mat-button-toggle value="italic">N</mat-button-toggle>
            <mat-button-toggle value="underline">n/a</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-checkbox
            class="checklist-leaf-node"
            [checked]="checklistSelection.isSelected(node)"
            (change)="todoLeafItemSelectionToggle(node)"
            >{{ node.label }}</mat-checkbox
          >
        </mat-tree-node>

        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          [style.display]="filterParentNode(node) ? 'none' : 'block'"
          matTreeNodePadding
          matTreeNodePaddingIndent="20"
        >
          <button
            class="button__arrow"
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.label"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
            <mat-button-toggle value="bold">Y</mat-button-toggle>
            <mat-button-toggle value="italic">N</mat-button-toggle>
            <mat-button-toggle value="underline">n/a</mat-button-toggle>
          </mat-button-toggle-group>
          <mat-checkbox (change)="todoItemSelectionToggle(node)">{{
            node.label
          }}</mat-checkbox>
          <!-- <mat-checkbox
                [checked]="descendantsAllSelected(node)"
                [indeterminate]="descendantsPartiallySelected(node)"
                (change)="todoItemSelectionToggle(node)"
                >{{node.item}}</mat-checkbox
              > -->
        </mat-tree-node>
      </mat-tree>

      <!-- Copyright 2021 Google LLC. All Rights Reserved.
              Use of this source code is governed by an MIT-style license that
              can be found in the LICENSE file at http://angular.io/license -->

      <!-- <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <div>
                <div style="float: left">
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="bold">Y</mat-button-toggle>
                    <mat-button-toggle value="italic">N</mat-button-toggle>
                    <mat-button-toggle value="underline">n/a</mat-button-toggle>
                  </mat-button-toggle-group>
                  {{node.label}}
                  <mat-checkbox
                    class="checklist-leaf-node"
                    [checked]="checklistSelection.isSelected(node)"
                    (change)="checklistSelection.toggle(node)"
                    >{{ node.item }}</mat-checkbox
                  >
                </div>
               
              </div>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.label">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{
                    treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
                  }}
                </mat-icon>
              </button>
    
              <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                <mat-button-toggle value="bold">Y</mat-button-toggle>
                <mat-button-toggle value="italic">N</mat-button-toggle>
                <mat-button-toggle value="underline">n/a</mat-button-toggle>
              </mat-button-toggle-group>
              {{node.label}} 
              <mat-checkbox
                [checked]="descendantsAllSelected(node)"
                [indeterminate]="descendantsPartiallySelected(node)"
                (change)="todoItemSelectionToggle(node)"
                >{{ node.item }}</mat-checkbox
              >
            </mat-tree-node>
          </mat-tree> -->
    </p>
  </mat-card-content>
  <mat-card-actions style="text-align-last: center">
    <button mat-flat-button color="primary">Save</button>
  </mat-card-actions>
</mat-card>
