<p-card header="Profile selection">
  <div class="grid p-fluid">
    <div class="field col-12">Select a profile to create a phenopacket.</div>
  </div>
  <div class="grid p-fluid">
    <div class="field col-12">
      <button
        pButton
        label="Rare disease"
        (click)="startRareDisease()"
        icon="pi pi-angle-right"
        pTooltip="Create a phenopacket in the context of rare disease"
        iconPos="right"
        style="width: 300px"
      ></button>
    </div>
    <div class="field col-12">
      <button
        pButton
        label="All available"
        (click)="startAll()"
        icon="pi pi-angle-right"
        pTooltip="Create a phenopacket with all available steps and phenopacket components"
        iconPos="right"
        style="width: 300px"
      ></button>
    </div>
   
  </div>
  
</p-card>
