<p-toast position="center" key="cen"></p-toast>
<div class="m-5">
  <h1 class="header-step"><b>Disease(s)</b></h1>
  <div class="flex justify-content-start flex-wrap">
    <button
      pButton
      icon="pi pi-plus"
      label="Add disease"
      class="p-button-text mb-2"
      (click)="addDisease()"
    ></button>
  </div>
  <p-table
    [value]="diseases"
    [(selection)]="selectedDisease"
    scrollDirection="horizontal"
    responsiveLayout="scroll"
    [tableStyle]="{ 'min-width': '50rem' }"
    dataKey="key"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pResizableColumn>Label</th>
        <th pResizableColumn>Status</th>
        <th pResizableColumn>Onset</th>
        <th pResizableColumn></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-disease>
      <tr [pSelectableRow]="disease">
        <td>{{ disease.term?.label }}</td>
        <td>{{ disease.excluded ? "Excluded" : "Diagnosed" }}</td>
        <td>
          <span *ngIf="disease.onset?.ontologyClass"
            ><a [href]="disease.onset.ontologyClass.termUrl" target="_blank"
              >[{{ disease.onset.ontologyClass.id }}]</a
            >
            {{ disease.onset?.ontologyClass?.label }}</span
          ><span *ngIf="!disease.onset?.ontologyClass">{{
            disease.onset?.toString()
          }}</span>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            (click)="editDisease(disease)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-text p-button-warning"
            (click)="deleteDisease(disease)"
          ></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td [attr.colspan]="4">No disease to display.</td>
      </tr>
    </ng-template>
  </p-table>

  <div class="flex justify-content-between flex-wrap mt-2">
    <div class="flex align-items-center justify-content-center">
      <p-button
        label="Back"
        (onClick)="prevPage()"
        icon="pi pi-angle-left"
        iconPos="left"
      ></p-button>
    </div>
    <div class="flex align-items-center justify-content-center">
      <p-button
        label="Next"
        (onClick)="nextPage()"
        icon="pi pi-angle-right"
        iconPos="right"
      ></p-button>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
