<p-toast position="center" key="cen"></p-toast>
<div class="grid p-fluid">
  <div class="field col-12">
    <as-split direction="horizontal">
      <as-split-area [size]="50">
        <div class="grid p-fluid margin">
          <div class="field col-12">
            <h1 class="header-step"><b>Diseases search</b></h1>
            <h3 class="header-step">
              Search for a disease using the search field below.
            </h3>
          </div>
          <div class="field col-12">
            <app-search-box
              [showHint]="false"
              [itemName]="'Disease'"
              [searchLabel]="'Disease'"
              [placeHolderTxt]="'Enter a disease term'"
              [searchType]="'disease'"
              (selectedItemChange)="diseaseItemSelected($event)"
            ></app-search-box>
          </div>
          <div class="field col-12">
            <p-table
              *ngIf="visible"
              [value]="diseases"
              [(selection)]="selectedDisease"
              styleClass="p-datatable-gridlines"
              scrollDirection="horizontal"
              responsiveLayout="scroll"
              [resizableColumns]="true"
              [tableStyle]="{ width: 'max-content' }"
              dataKey="key"
              selectionMode="single"
              (onRowSelect)="onRowSelect($event)"
            >
              <ng-template pTemplate="caption">
                <div class="table-header">Added diseases</div>
              </ng-template>
              <ng-template pTemplate="header">
                <tr>
                  <th pResizableColumn>Label</th>
                  <th pResizableColumn>Status</th>
                  <th pResizableColumn>Onset</th>
                  <th pResizableColumn></th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-disease>
                <tr [pSelectableRow]="disease">
                  <td>{{ disease.term?.label }}</td>
                  <td>{{ disease.excluded ? "Excluded" : "Diagnosed" }}</td>
                  <td>
                    <span *ngIf="disease.onset?.ontologyClass"
                      ><a
                        [href]="disease.onset.ontologyClass.termUrl"
                        target="_blank"
                        >[{{ disease.onset.ontologyClass.id }}]</a
                      >
                      {{ disease.onset?.ontologyClass?.label }}</span
                    ><span *ngIf="!disease.onset?.ontologyClass">{{
                      disease.onset?.toString()
                    }}</span>
                  </td>
                  <td>
                    <button
                      pButton
                      pRipple
                      icon="pi pi-trash"
                      class="p-button-rounded p-button-warning"
                      (click)="deleteDisease(disease)"
                    ></button>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </as-split-area>
      <as-split-area [size]="50">
        <div class="grid p-fluid margin">
          <div class="field col-12">
            <h1 class="header-step"><b>Disease details</b></h1>
            <h3 class="header-step">
              Select the disease on the left-side table and then edit its
              details.
            </h3>
          </div>
          <div class="field col-12">
            <app-disease-edit
              [disease]="selectedDisease"
              [profile]="profileSelection"
              (diseaseChange)="updateDisease($event)"
            ></app-disease-edit>
          </div>
        </div>
      </as-split-area>
    </as-split>
  </div>
  <div class="field col-12">
    <div class="flex justify-content-between flex-wrap">
      <div class="flex align-items-center justify-content-center margin-left">
        <p-button
          label="Back"
          (onClick)="prevPage()"
          icon="pi pi-angle-left"
          iconPos="left"
        ></p-button>
      </div>
      <div class="flex align-items-center justify-content-center margin-right">
        <p-button
          label="Next"
          (onClick)="nextPage()"
          icon="pi pi-angle-right"
          iconPos="right"
        ></p-button>
      </div>
    </div>
  </div>
</div>

<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
