<p-card>
    <div class="grid p-fluid">
      <div class="field col-12">This step is not yet implemented.</div>
    </div>
  
    <ng-template pTemplate="footer">
      <div class="flex justify-content-between flex-wrap">
        <div class="flex align-items-center justify-content-center">
          <p-button
            label="Back"
            (onClick)="prevPage()"
            icon="pi pi-angle-left"
            iconPos="left"
          ></p-button>
        </div>
        <div class="flex align-items-center justify-content-center">
          <p-button
            label="Next"
            (onClick)="nextPage()"
            icon="pi pi-angle-right"
            iconPos="right"
          ></p-button>
        </div>
      </div>
    </ng-template>
  </p-card>
  