<p-card>
  <ng-template pTemplate="title"> Individual </ng-template>
  <ng-template pTemplate="subtitle">
    Add subject information and vital status
  </ng-template>
  <ng-template pTemplate="content">
    <div class="grid p-fluid">
      <div class="field col-12">
        <label for="phenoId"><b>Phenopacket ID</b></label>
        <input
          id="phenoId"
          #id="ngModel"
          type="text"
          required
          pInputText
          [(ngModel)]="phenopacket.id"
          [ngClass]="{
            'ng-dirty': (id?.invalid && submitted) || (id?.dirty && id?.invalid)
          }"
        />
        <small
          *ngIf="(id?.invalid && submitted) || (id?.dirty && id?.invalid)"
          class="p-error"
          >Phenopacket ID is required.</small
        >
      </div>
      <div class="field col-12">
        <app-individual-edit
          [subject]="phenopacket?.subject"
          [profile]="profileSelection"
          [submitted]="submitted"
          (subjectChange)="updateSubject($event)"
        ></app-individual-edit>
      </div>
      
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid grid-nogutter justify-content-end">
      <p-button
        label="Next"
        (onClick)="nextPage()"
        icon="pi pi-angle-right"
        iconPos="right"
      ></p-button>
    </div>
  </ng-template>
</p-card>
