<p-toast position="center" key="cen"></p-toast>
<div class="grid p-fluid margin">
  <div class="field col-12">
    <h1 class="header-step"><b>Created interpretation(s)</b></h1>
    <h3 class="header-step">
      List of created interpretations with a Diagnosis (a disease and genomic
      interpretation).
    </h3>
  </div>
  <div class="field col-12">
    <p-table
      [value]="interpretations"
      [(selection)]="selectedInterpretation"
      scrollDirection="horizontal"
      responsiveLayout="scroll"
      [tableStyle]="{ 'min-width': '50rem' }"
      dataKey="key"
      selectionMode="single"
      (onRowSelect)="onRowSelect($event)"
    >
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          Added interpretations
          <p-button
            icon="pi pi-plus"
            label="Add interpretation"
            (onClick)="addInterpretation()"
          ></p-button>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pResizableColumn>ID</th>
          <th pResizableColumn>Progress status</th>
          <th pResizableColumn>Diagnosis</th>
          <th pResizableColumn></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interpretation>
        <tr [pSelectableRow]="interpretation">
          <td>{{ interpretation.id }}</td>
          <td>{{ interpretation.progressStatus }}</td>
          <td>{{ interpretation.diagnosis?.disease?.toString() }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text"
              (click)="addInterpretation(interpretation)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-warning"
              (click)="deleteInterpretation(interpretation)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
<div class="field col-12">
  <div class="flex justify-content-between flex-wrap">
    <div class="flex align-items-center justify-content-center margin-left">
      <p-button
        label="Back"
        (onClick)="prevPage()"
        icon="pi pi-angle-left"
        iconPos="left"
      ></p-button>
    </div>
    <div class="flex align-items-center justify-content-center margin-right">
      <p-button
        label="Next"
        (onClick)="nextPage()"
        icon="pi pi-angle-right"
        iconPos="right"
      ></p-button>
    </div>
  </div>
</div>
<!-- </div> -->

<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
