:host {
    flex-direction: column;
    display: flex;
    flex: 1 1 auto;
}

.p-table {
    word-break: break-all;
    overflow-wrap: anywhere;
}

.header-step {
    color: #495057;
}

.label-active:checked {
    color: black;
}
.label-active {
    color: red;
}