:host ::ng-deep b {
    display: block
}

:host ::ng-deep .p-card-body {
    padding: 2rem;
}

.margin-left {
    margin-left: 30px;
}
.margin-right {
    margin-right: 30px;
}
.margin {
    margin: 30px;
}
.p-table {
    word-break: break-all;
    overflow-wrap: anywhere;
}
.header-step {
    color:#495057;
}