<div class="row">
  <div class="col-md-12">
        <mat-form-field class="example-full-width">
          <input type="text" placeholder="{{placeHolderTxt}}"  attr.aria-label="{{searchLabel}}" matInput [formControl]="myControl" [matAutocomplete]="auto">
          <mat-icon color="warn" matSuffix>search</mat-icon>

          <mat-autocomplete #auto="matAutocomplete">

            <span *ngIf="itemCount > 0"><span><b>{{ itemName }}</b> </span><span style="font-size:x-small"> Count({{itemCount}})</span></span>
            <mat-option *ngFor="let option of itemOptions" (onSelectionChange)="selectedChanged(option, option.name)">
              {{option.name}}
            </mat-option>

          </mat-autocomplete>

        </mat-form-field>
        <!-- <mat-hint *ngIf="showHint">E.g.
          <a mat-button class="nav-link active"
          (click)="selectedChanged({'name':'marfan syndrome'}, 'marfan syndrome')">marfan syndrome</a>
        </mat-hint> -->
  </div>

  <!-- <div class="col-md-3">
    <button class="search_button" mat-raised-button (click)="searchDisease(mvarId)">Search</button>
  </div> -->
</div>

<!-- <div class="row">
  <div class="col-md-12">
    <mat-chip-list #chipList aria-label="Search criteria selection">
      <mat-chip *ngFor="let searchTerm of searchCriteria.selectedItems" [selectable]="selectable"
                [removable]="removable" (removed)="remove(searchTerm)">
        {{searchTerm.displayedValue}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
    </mat-chip-list>
  </div>
</div> -->


<!-- <div *ngIf="showFilters">

    <div class="row">
      <div class="col-md-12">
        <span class="pull-right">
          <a mat-button class="nav-link active" (click)="updateSearch()">Refresh
            <i class="material-icons">refresh</i>
            <div class="ripple-container"></div>
          </a>
          <a mat-button class="nav-link active" (click)="showFilterOptions()">Hide
            <i class="material-icons">expand_less</i>
            <div class="ripple-container"></div>
          </a>
        </span>
      </div>
    </div>

    Variant type
    <div class="row">
      <div class="col-md-12">
        <section class="section">
          <label class="mat-checkbox-layout"><b>Variant type:</b></label>
          <mat-checkbox class="check" [checked]="isVarTypeChecked('SNP')"
                        (change)="onSearchCriteriaChange('varType', 'SNP')">Point mutation</mat-checkbox>
          <mat-checkbox class="check" [checked]="isVarTypeChecked('INS')"
                        (change)="onSearchCriteriaChange('varType', 'INS')">Insertion </mat-checkbox>
          <mat-checkbox class="check" [checked]="isVarTypeChecked('DEL')"
                        (change)="onSearchCriteriaChange('varType', 'DEL')">Deletion</mat-checkbox>
        </section>
      </div>
    </div>

</div> -->

