<div class="grid p-fluid">
  <div class="field col-12 md:col-4">
    <b>Created:</b>
    <br />
    {{ created }}
  </div>
  <div class="field col-12 md:col-4">
    <b>Created by:</b>
    <br />
    {{ createdBy }}
  </div>
  <div class="field col-12 md:col-4">
    <b>Submitted by:</b>
    <br />
    {{ submittedBy }}
  </div>
  <div class="field col-12">
    <b>Phenopacket schema version:</b> {{ phenopacketSchemaVersion }}
  </div>
  <div class="field col-12">
    <b>Updates:</b>
    <br />
    <p-table
      *ngIf="updates && updates.length > 0"
      [value]="updates"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Timestamp</th>
          <th>Updated by</th>
          <th>Comment</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-update>
        <tr>
          <td>{{ update.timestamp }}</td>
          <td>{{ update.updatedBy }}</td>
          <td>{{ update.comment }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="field col-12">
    <b>Resources:</b>
    <br />
    <p-table
      *ngIf="resources && resources.length > 0"
      [value]="resources"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Version</th>
          <th>URL</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-resource>
        <tr>
          <td>{{ resource.id }}</td>
          <td>{{ resource.name }}</td>
          <td>{{ resource.version }}</td>
          <td>{{ resource.url }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="field col-12">
    <b>External references:</b>
    <br />
    <p-table
      *ngIf="externalReferences && externalReferences.length > 0"
      [value]="externalReferences"
      [tableStyle]="{ 'min-width': '50rem' }"
      styleClass="p-datatable-sm"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>ID</th>
          <th>Reference</th>
          <th>Description</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-externalreference>
        <tr>
          <td>{{ externalreference.id }}</td>
          <td>{{ externalreference.reference }}</td>
          <td>{{ externalreference.description }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
