<div class="grid">
  <div class="field col-12"><b>Phenopacket ID: </b>{{ phenopacket?.id }}</div>

  <div class="field col-12">
    <p-card>
      <div class="grid">
        <div class="field col-5">
          <b>Individual ID: </b> {{ individual?.id }}
        </div>
        <div class="field col-6">
          <b> Alternate IDs: </b> {{ individual?.alternateIds?.join(", ") }}
        </div>
        <div class="field cold-1">
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            pTooltip="Edit individual properties"
            tooltipPosition="bottom"
            class="p-button-rounded p-button-text"
            (click)="openEditDialog()"
          ></button>
        </div>
        <div class="field col-12">
          <b>Time of last encounter: </b> {{ lastEncounterDate }}
        </div>

        <div class="field col-4"><b>Sex: </b> {{ sex }}</div>

        <div class="field col-4">
          <b>Karyotypic Sex: </b> {{ karyotypicSex }}
        </div>
        <div class="field col-4"><b>Gender: </b> {{ gender }}</div>

        <br />
        <div class="field col-12">
          <p-fieldset legend="Vital Status">
            <div class="grid">
              <div class="field col-6">
                <b>Status: </b> {{ status }}
              </div>
              <div class="field col-6">
                <b>Time of death: </b> {{ timeOfDeath }}
              </div>
              <div class="field col-6">
                <b>Cause of death: </b>
                <a
                  *ngIf="causeOfDeath"
                  [href]="causeOfDeath?.termUrl"
                  target="_blank"
                  >[{{ causeOfDeath?.id }}]</a
                >
                {{ causeOfDeath?.label }}
              </div>
              <div class="field col-6">
                <b>Survival time (days): </b> {{ survivalTime }}
              </div>
            </div>
          </p-fieldset>
        </div>
      </div>
    </p-card>
  </div>

  <br />
  <!-- <br /> -->

  <div class="field col-12">
    <!--  -->
    <p-accordion class="w-full">
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <!-- <i class="pi pi-calendar mr-2"></i> -->
            <mat-icon class="tab-icon mr-2">list</mat-icon>
            <span class="vertical-align-middle">Phenotypic Features</span>
            <span class="ml-3 font-light text-sm"
              >Describes a phenotype that characterizes the subject of the
              Phenopacket</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-phenotypic-feature
            [phenotypicFeatures]="getPhenotypicFeatures()"
            (onPhenotypicFeaturesChanged)="changePhenotypicFeatures($event)"
          ></app-phenotypic-feature>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <mat-icon class="tab-icon mr-2">square_foot</mat-icon>
            <span class="vertical-align-middle">Measurements</span>
            <span class="ml-3 font-light text-sm"
              >Used to record individual measurements, which can capture
              quantitative, ordinal (e.g., absent/present), or categorical
              measurements</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-measurement
            [measurements]="getPhenopacketMeasurements()"
            (onMeasurementsChanged)="changeMeasurements($event)"
          ></app-measurement>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <mat-icon class="tab-icon mr-2">biotech</mat-icon>
            <span class="vertical-align-middle">Biosamples</span>
            <span class="ml-3 font-light text-sm"
              >Unit of biological material from which the substrate molecules
              (e.g. genomic DNA, RNA, proteins) for molecular analyses (e.g.
              sequencing, array hybridisation, mass-spectrometry) are
              extracted</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-biosample
            [biosamples]="getBiosamples()"
            (onBiosampleChanged)="changeBiosamples($event)"
          ></app-biosample>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <mat-icon class="tab-icon mr-2">interpreter_mode</mat-icon>
            <span class="vertical-align-middle">Interpretations</span>
            <span class="ml-3 font-light text-sm"
              >Represents the interpretation of a genomic analysis, such as the
              report from a diagnostic laboratory</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-interpretation
            [interpretations]="getInterpretations()"
            [phenopacket]="phenopacket"
            (onInterpretationsChange)="changeInterpretations($event)"
          ></app-interpretation>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <mat-icon class="tab-icon mr-2">coronavirus</mat-icon>
            <span class="vertical-align-middle">Diseases</span>
            <span class="ml-3 font-light text-sm"
              >Diagnosis, i.e., an inference or hypothesis about the cause
              underlying the observed phenotypic abnormalities</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-disease
            [diseases]="getPhenopacketDiseases()"
            (onDiseasesChanged)="changeDiseases($event)"
          ></app-disease>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <mat-icon class="tab-icon mr-2">medical_services</mat-icon>
            <span class="vertical-align-middle">Medical Actions</span>
            <span class="ml-3 font-light text-sm"
              >Describes medications, procedures, other actions taken for
              clinical management</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-medical-action
            [medicalActions]="getPhenopacketMedicalActions()"
            [diseases]="getPhenopacketDiseases()"
            (onMedicalActionChanged)="changeMedicalActions($event)"
          ></app-medical-action>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <mat-icon class="tab-icon mr-2">text_snippet</mat-icon>
            <span class="vertical-align-middle">Files</span>
            <span class="ml-3 font-light text-sm"
              >External files linked with the structured phenotypic data, which
              can be used to inform analyses</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-file
            [phenopacket]="phenopacket"
            [files]="getPhenopacketFiles()"
            (onFilesChanged)="changeFiles($event)"
          >
          </app-file>
        </ng-template>
      </p-accordionTab>
      <p-accordionTab>
        <ng-template pTemplate="header">
          <div class="flex align-items-center">
            <mat-icon class="tab-icon mr-2">data_object</mat-icon>
            <span class="vertical-align-middle">Metadata</span>
            <span class="ml-3 font-light text-sm"
              >Structured definitions of the resources and ontologies used
              within the phenopacket</span
            >
          </div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-metadata [metadata]="phenopacket?.metaData"></app-metadata>
        </ng-template>
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<p-confirmDialog header="Confirmation"></p-confirmDialog>
