<div class="grid p-fluid">
    <div class="field col-12"><b>Phenopacket ID: </b>{{ phenopacket?.id }}</div>

    <div class="field col-12">
        <p-card>
            <div class="grid p-fluid">
                <div class="field col-12 md:col-5">
                    <b>Individual ID: </b> {{ individual?.id }}
                </div>
                <div class="field col-12 md:col-6">
                    <b> Alternate IDs: </b> {{ individual?.alternateIds?.join(", ") }}
                </div>
                <div class="field cold-12 md:col-1">
                    <button
                        pButton
                        pRipple
                        icon="pi pi-pencil"
                        pTooltip="Edit individual properties"
                        tooltipPosition="bottom"
                        class="p-button-rounded p-button-text"
                        (click)="openEditDialog()"
                    ></button>
                </div>
                <div class="field col-12">
                    <b>Time of last encounter: </b> {{ lastEncounterDate }}
                </div>

                <div class="field col-12 md:col-4"><b>Sex: </b> {{ sex }}</div>

                <div class="field col-12 md:col-4">
                    <b>Karyotypic Sex: </b> {{ karyotypicSex }}
                </div>
                <div class="field col-12 md:col-4"><b>Gender: </b> {{ gender }}</div>

                <br />
                <div class="field col-12">
                    <p-fieldset legend="Vital Status">
                        <div class="grid p-fluid">
                            <div class="field col-12 md:col-6">
                                <b>Status: </b> {{ status }}
                            </div>
                            <div class="field col-12 md:col-6">
                                <b>Time of death: </b> {{ timeOfDeath }}
                            </div>
                            <div class="field col-12 md:col-6">
                                <b>Cause of death: </b> <a *ngIf="causeOfDeath" [href]="causeOfDeath?.termUrl" target="_blank">[{{causeOfDeath?.id}}]</a> {{causeOfDeath?.label}}
                            </div>
                            <div class="field col-12 md:col-6">
                                <b>Survival time (days): </b> {{ survivalTime }}
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </p-card>
    </div>

    <br />
    <!-- <br /> -->

    <div class="field col-12">
        <mat-accordion class="accordion-headers-align">
            <mat-expansion-panel
                [expanded]="step === 0"
                (opened)="setStep(0)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">list</mat-icon>
                    <b>Phenotypic Features</b>
                </mat-panel-title>
                <mat-panel-description>
                    Describes a phenotype that characterizes the subject of the
                    Phenopacket
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-phenotypic-feature
                [phenotypicFeatures]="getPhenotypicFeatures()"
                [showAddButton]="false"
                (onPhenotypicFeaturesChanged)="changePhenotypicFeatures($event)"
                ></app-phenotypic-feature>

                <mat-action-row>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
                [expanded]="step === 1"
                (opened)="setStep(1)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">square_foot</mat-icon>
                    <b>Measurements</b>
                </mat-panel-title>
                <mat-panel-description>
                    Used to record individual measurements, which can capture
                    quantitative, ordinal (e.g., absent/present), or categorical
                    measurements
                </mat-panel-description>
                </mat-expansion-panel-header>
                <app-measurement
                [measurements]="getPhenopacketMeasurements()"
                (onMeasurementsChanged)="changeMeasurements($event)"
                ></app-measurement>

                <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
                [expanded]="step === 2"
                (opened)="setStep(2)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">biotech</mat-icon>
                    <b>Biosamples</b>
                </mat-panel-title>
                <mat-panel-description>
                    Unit of biological material from which the substrate molecules (e.g.
                    genomic DNA, RNA, proteins) for molecular analyses (e.g. sequencing,
                    array hybridisation, mass-spectrometry) are extracted
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-biosample
                [biosamples]="getBiosamples()"
                (onBiosampleChanged)="changeBiosamples($event)"
                ></app-biosample>

                <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
                [expanded]="step === 3"
                (opened)="setStep(3)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">interpreter_mode</mat-icon>
                    <b>Interpretations</b>
                </mat-panel-title>
                <mat-panel-description>
                    Represents the interpretation of a genomic analysis, such as the
                    report from a diagnostic laboratory
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-interpretation
                [interpretations]="getInterpretations()"
                [phenopacket]="phenopacket"
                ></app-interpretation>

                <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
                [expanded]="step === 4"
                (opened)="setStep(4)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">coronavirus</mat-icon>
                    <b>Diseases</b>
                </mat-panel-title>
                <mat-panel-description>
                    Diagnosis, i.e., an inference or hypothesis about the cause
                    underlying the observed phenotypic abnormalities
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-disease
                [phenopacketDiseases]="getPhenopacketDiseases()"
                (onDiseasesChanged)="changeDiseases($event)"
                ></app-disease>

                <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
                [expanded]="step === 5"
                (opened)="setStep(5)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">medical_services</mat-icon>
                    <b>Medical Actions</b>
                </mat-panel-title>
                <mat-panel-description>
                    Describes medications, procedures, other actions taken for clinical
                    management
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-medical-action
                [medicalActions]="getPhenopacketMedicalActions()"
                [diseases]="getPhenopacketDiseases()"
                (onMedicalActionChanged)="changeMedicalActions($event)"
                ></app-medical-action>

                <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
                [expanded]="step === 6"
                (opened)="setStep(6)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">text_snippet</mat-icon>
                    <b>Files</b>
                </mat-panel-title>
                <mat-panel-description>
                    External files linked with the structured phenotypic data, which can
                    be used to inform analyses
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-file
                [phenopacketFiles]="getPhenopacketFiles()"
                (onFilesChanged)="changeFiles($event)"
                >
                </app-file>

                <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel
                [expanded]="step === 7"
                (opened)="setStep(7)"
                hideToggle
            >
                <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="tab-icon">data_object</mat-icon>
                    <b>Metadata</b>
                </mat-panel-title>
                <mat-panel-description>
                    Structured definitions of the resources and ontologies used within
                    the phenopacket
                </mat-panel-description>
                </mat-expansion-panel-header>

                <app-metadata [metadata]="phenopacket?.metaData"></app-metadata>

                <mat-action-row>
                <button mat-button color="warn" (click)="prevStep()">Previous</button>
                <button mat-button color="primary" (click)="nextStep()">End</button>
                </mat-action-row>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
