pre {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  font-family: Arial;
  font-size: 16px;
}
textarea {
  min-height: 250px;
}

.unknown {
  background-color: #ff7800;
  color: white;
}

.approved {
  background-color: #4BB543;
  color: white;
  text-decoration: underline;
}

.rejected {
  background-color: #F32013;
  color: white;
  text-decoration: line-through;
}