<div class="grid p-fluid">
  <div *ngIf="textSearchVisible" class="field col-12">
    <br />
    <span class="p-float-label">
      <textarea
        id="float-input"
        rows="5"
        cols="30"
        pInputTextarea
        [(ngModel)]="textSearch"
      ></textarea>
      <label for="float-input">Submit text</label>
    </span>
  </div>
  <div *ngIf="textSearchVisible" class="field col-4">
    <button pButton type="button" label="Submit" (click)="submit()"></button>
  </div>
  <div *ngIf="textSearchVisible" class="field col-8"></div>
  <div *ngIf="!textSearchVisible" class="field col-12">
    <h2>Review text mining results</h2>
    <div [innerHTML]="formattedText | safeText"></div>
  </div>
  <div *ngIf="!textSearchVisible" class="field col-4">
    <button
      pButton
      type="button"
      label="Start over"
      (click)="startOver()"
    ></button>
  </div>
  <div *ngIf="!textSearchVisible" class="field col-4">
    <button
      pButton
      type="button"
      label="Approve all"
      (click)="approveAll()"
    ></button>
  </div>
  <div *ngIf="!textSearchVisible" class="field col-4">
    <button
      pButton
      type="button"
      label="Reject all"
      (click)="rejectAll()"
    ></button>
  </div>
  <div *ngIf="!textSearchVisible" class="field col-12">
    <div class="card flex align-items-center gap-2 flex-wrap">
      <span *ngFor="let featureName of textMinedFeatures">
        <p-chip
          [label]="featureName"
          [removable]="true"
          [style]="getStyleClass(featureName)"
          (onRemove)="onChipRemove(featureName)"
        ></p-chip>
      </span>
    </div>

    <!-- <p-chips
      [max]="textMinedFeatures?.length || 0"
      [(ngModel)]="textMinedFeatures"
      (onRemove)="onChipRemove($event)"
    >
      <ng-template let-featureName pTemplate="featureName">
        <span [style]="getStyleClass(featureName)">{{
          featureName
        }}</span>
      </ng-template>
    </p-chips> -->
  </div>

  <div *ngIf="!textSearchVisible" class="field col-12">
    <label for="onset"><b>Age of onset: </b></label>
    <app-time-element
      *ngIf="!onsetApplied"
      id="onset"
      [timeElement]="onset"
      [ontologyNodes]="onsetsNodes"
      [useOntologyClass]="true"
      (timeElementEvent)="updateAgeOnset($event)"
      aria-labelledby="onset-label"
    ></app-time-element>
  </div>
  <div class="field col-12">
    <!-- <br *ngIf="onsetApplied"> -->
    <div *ngIf="onsetApplied" class="flex align-items-center">
      {{ onset?.toString() }}
      <button
        *ngIf="onsetApplied"
        pTooltip="Edit onset"
        pButton
        pRipple
        type="button"
        icon="pi pi-pencil"
        class="p-button-rounded p-button-text"
        (click)="editOnset()"
      ></button>
    </div>
  </div>

  <div *ngIf="!textSearchVisible" class="field col-6">
    <button
      pButton
      type="button"
      label="Apply onset to all features"
      (click)="applyOnset()"
    ></button>
  </div>
  <div *ngIf="true" class="field col-6"></div>

  <div *ngIf="!textSearchVisible" class="field col-6">
    <button
      pButton
      type="button"
      label="Add approved terms"
      (click)="addApprovedTerms()"
    ></button>
  </div>
</div>
