<div class="grid p-fluid">
  <div class="field col-12">
    <p-table
      [value]="interpretations"
      dataKey="key"
      styleClass="phenopacket-list-tabs"
    >
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 5rem"></th>
          <th pResizableColumn style="min-width: 2rem">ID</th>
          <th pResizableColumn>Status</th>
          <th pResizableColumn>Diagnosis</th>
          <th pResizableColumn>Summary</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interpretation let-expanded="expanded">
        <tr>
          <td>
            <button
              type="button"
              pButton
              pRipple
              [pRowToggler]="interpretation"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
            ></button>
          </td>
          <td>{{ interpretation.id }}</td>
          <td>{{ interpretation.progressStatus }}</td>
          <td>{{ interpretation.diagnosis?.disease.toString() }}</td>
          <td>{{ interpretation.summary }}</td>
          <td>
            <button
              pButton
              pRipple
              icon="pi pi-pencil"
              class="p-button-rounded p-button-text"
              (click)="addInterpretation(interpretation)"
            ></button>
            <button
              pButton
              pRipple
              icon="pi pi-trash"
              class="p-button-rounded p-button-text p-button-warning"
              (click)="deleteInterpretation(interpretation)"
            ></button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-interpretation>
        <tr>
          <td colspan="6">
            <div class="p-3">
              <app-interpretation-detail
                [interpretation]="interpretation"
              ></app-interpretation-detail>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td [attr.colspan]="6">
            No interpretation to display.
          </td>
        <tr>
     </ng-template>
    </p-table>
  </div>
</div>
<button
  pButton
  label="Add interpretation"
  (click)="addInterpretation()"
  icon="pi pi-plus"
  class="p-button-text"
  style="width: 250px"
></button>
<p-confirmDialog header="Confirmation" width="425"></p-confirmDialog>
